In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
!pip install xlrd==2.0.1
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: xlrd==2.0.1 in c:\users\raju singh gautam\anaconda3\lib\site-packages (2.0.1)

In [2]:
df = pd.read_csv("roadAccStats13-16.csv")

In [3]:
df.describe()

,State/UT-Wise Total Number of Road Accidents during - 2013,State/UT-Wise Total Number of Road Accidents during - 2014,State/UT-Wise Total Number of Road Accidents during - 2015,State/UT-Wise Total Number of Road Accidents during - 2016,Share of States/UTs in Total Number of Road Accidents - 2013,Share of States/UTs in Total Number of Road Accidents - 2014,Share of States/UTs in Total Number of Road Accidents - 2015,Share of States/UTs in Total Number of Road Accidents - 2016,Total Number of Accidents Per Lakh Population - 2013,Total Number of Accidents Per Lakh Population - 2014,Total Number of Accidents Per Lakh Population - 2015,Total Number of Accidents Per Lakh Population - 2016,"Total Number of Road Accidents per 10,000 Vehicles - 2013","Total Number of Road Accidents per 10,000 Vehicles - 2014","Total Number of Road Accidents per 10,000 Vehicles - 2015","Total Number of Road Accidents per 10,000 Km of Roads - 2013","Total Number of Road Accidents per 10,000 Km of Roads - 2014","Total Number of Road Accidents per 10,000 Km of Roads - 2015"
count,36.000000,37.000000,37.000000,37.000000,37.000000,37.00000,37.000000,37.000000,36.000000,36.000000,36.000000,36.000000,36.000000,37.000000,37.000000,36.000000,37.000000,37.000000
mean,27026.444444,26454.054054,27103.945946,25981.189189,5.405405,5.40000,5.402703,5.391892,41.911111,39.877778,40.833333,39.636111,25.755556,23.491892,21.967568,1274.927778,1137.259459,1175.440541
std,80979.146929,80289.994996,82282.069470,78796.721607,16.438335,16.40503,16.411573,16.396720,40.978278,39.239179,40.706482,40.826645,16.541091,13.679372,12.801325,1141.125747,935.604030,1035.705572
min,1.000000,1.000000,3.000000,1.000000,0.000000,0.00000,0.000000,0.000000,1.300000,1.300000,2.300000,1.200000,0.900000,0.800000,1.600000,18.500000,48.100000,14.500000
25%,496.250000,542.000000,606.000000,538.000000,0.100000,0.10000,0.100000,0.100000,19.975000,15.975000,17.000000,16.525000,14.350000,13.600000,12.400000,365.700000,343.000000,371.600000
50%,6390.000000,6391.000000,6702.000000,6952.000000,1.300000,1.30000,1.300000,1.400000,30.250000,28.700000,26.950000,26.500000,23.400000,22.100000,21.800000,1096.150000,1020.900000,1049.200000
75%,24041.750000,23712.000000,23183.000000,22811.000000,4.800000,4.80000,4.600000,4.700000,51.250000,44.900000,47.500000,43.475000,34.325000,32.200000,27.900000,1722.150000,1498.700000,1492.700000
max,486476.000000,489400.000000,501423.000000,480652.000000,100.000000,100.00000,100.000000,100.000000,229.900000,220.800000,222.100000,217.700000,67.300000,55.000000,50.700000,5020.500000,3678.900000,4980.200000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 20 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   SI. No.                                                       37 non-null     object
 1   States/UTs                                                    37 non-null     object
 2   State/UT-Wise Total Number of Road Accidents during - 2013    36 non-null     float64
 3   State/UT-Wise Total Number of Road Accidents during - 2014    37 non-null     int64
 4   State/UT-Wise Total Number of Road Accidents during - 2015    37 non-null     int64
 5   State/UT-Wise Total Number of Road Accidents during - 2016    37 non-null     int64
 6   Share of States/UTs in Total Number of Road Accidents - 2013  37 non-null     float64
 7   Share of States/UTs in Total Number of Road Accidents - 2014  37 non-null     float64
 8   Share of States/UTs in Total Number of Road Accidents - 2015  37 non-null     float64
 9   Share of States/UTs in Total Number of Road Accidents - 2016  37 non-null     float64
 10  Total Number of Accidents Per Lakh Population - 2013          36 non-null     float64
 11  Total Number of Accidents Per Lakh Population - 2014          36 non-null     float64
 12  Total Number of Accidents Per Lakh Population - 2015          36 non-null     float64
 13  Total Number of Accidents Per Lakh Population - 2016          36 non-null     float64
 14  Total Number of Road Accidents per 10,000 Vehicles - 2013     36 non-null     float64
 15  Total Number of Road Accidents per 10,000 Vehicles - 2014     37 non-null     float64
 16  Total Number of Road Accidents per 10,000 Vehicles - 2015     37 non-null     float64
 17  Total Number of Road Accidents per 10,000 Km of Roads - 2013  36 non-null     float64
 18  Total Number of Road Accidents per 10,000 Km of Roads - 2014  37 non-null     float64
 19  Total Number of Road Accidents per 10,000 Km of Roads - 2015  37 non-null     float64
dtypes: float64(15), int64(3), object(2)
memory usage: 5.9+ KB

In [5]:
df.shape

(37, 20)

In [6]:
df.sample(5)

,SI. No.,States/UTs,State/UT-Wise Total Number of Road Accidents during - 2013,State/UT-Wise Total Number of Road Accidents during - 2014,State/UT-Wise Total Number of Road Accidents during - 2015,State/UT-Wise Total Number of Road Accidents during - 2016,Share of States/UTs in Total Number of Road Accidents - 2013,Share of States/UTs in Total Number of Road Accidents - 2014,Share of States/UTs in Total Number of Road Accidents - 2015,Share of States/UTs in Total Number of Road Accidents - 2016,Total Number of Accidents Per Lakh Population - 2013,Total Number of Accidents Per Lakh Population - 2014,Total Number of Accidents Per Lakh Population - 2015,Total Number of Accidents Per Lakh Population - 2016,"Total Number of Road Accidents per 10,000 Vehicles - 2013","Total Number of Road Accidents per 10,000 Vehicles - 2014","Total Number of Road Accidents per 10,000 Vehicles - 2015","Total Number of Road Accidents per 10,000 Km of Roads - 2013","Total Number of Road Accidents per 10,000 Km of Roads - 2014","Total Number of Road Accidents per 10,000 Km of Roads - 2015"
34,35,Lakshadweep,1.0,1,3,1,0.0,0.0,0.0,0.0,1.3,1.3,3.8,1.2,0.9,0.8,2.1,48.3,48.1,140.2
33,34,Delhi,7566.0,8623,8085,7375,1.6,1.8,1.6,1.5,38.7,42.9,39.1,34.6,9.7,10.4,9.1,2364.7,2695.0,2521.3
29,30,Andaman & Nicobar Islands,200.0,218,258,238,0.0,0.0,0.1,0.0,38.5,40.9,47.5,43.2,23.4,23.3,25.2,1440.9,1654.0,1908.3
22,23,Sikkim,244.0,203,219,210,0.1,0.0,0.0,0.0,39.0,32.1,34.2,32.5,67.3,51.3,50.7,371.4,311.1,294.0
27,28,Uttar Pradesh,30615.0,31034,32385,35612,6.3,6.3,6.5,7.4,14.7,14.7,15.1,16.3,18.0,16.2,15.0,702.2,781.3,779.6

In [7]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      1
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            1
Total Number of Accidents Per Lakh Population - 2014            1
Total Number of Accidents Per Lakh Population - 2015            1
Total Number of Accidents Per Lakh Population - 2016            1
Total Number of Road Accidents per 10,000 Vehicles - 2013       1
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    1
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [8]:
df.dtypes

SI. No.                                                          object
States/UTs                                                       object
State/UT-Wise Total Number of Road Accidents during - 2013      float64
State/UT-Wise Total Number of Road Accidents during - 2014        int64
State/UT-Wise Total Number of Road Accidents during - 2015        int64
State/UT-Wise Total Number of Road Accidents during - 2016        int64
Share of States/UTs in Total Number of Road Accidents - 2013    float64
Share of States/UTs in Total Number of Road Accidents - 2014    float64
Share of States/UTs in Total Number of Road Accidents - 2015    float64
Share of States/UTs in Total Number of Road Accidents - 2016    float64
Total Number of Accidents Per Lakh Population - 2013            float64
Total Number of Accidents Per Lakh Population - 2014            float64
Total Number of Accidents Per Lakh Population - 2015            float64
Total Number of Accidents Per Lakh Population - 2016            float64
Total Number of Road Accidents per 10,000 Vehicles - 2013       float64
Total Number of Road Accidents per 10,000 Vehicles - 2014       float64
Total Number of Road Accidents per 10,000 Vehicles - 2015       float64
Total Number of Road Accidents per 10,000 Km of Roads - 2013    float64
Total Number of Road Accidents per 10,000 Km of Roads - 2014    float64
Total Number of Road Accidents per 10,000 Km of Roads - 2015    float64
dtype: object

In [9]:
UT_Wise_median=df["State/UT-Wise Total Number of Road Accidents during - 2013"].median()

In [10]:
UT_Wise_median

6390.0

In [11]:
df["State/UT-Wise Total Number of Road Accidents during - 2013"]=df["State/UT-Wise Total Number of Road Accidents during - 2013"].replace(np.nan,UT_Wise_median)

In [12]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      0
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            1
Total Number of Accidents Per Lakh Population - 2014            1
Total Number of Accidents Per Lakh Population - 2015            1
Total Number of Accidents Per Lakh Population - 2016            1
Total Number of Road Accidents per 10,000 Vehicles - 2013       1
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    1
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [13]:
Accidents13_median=df["Total Number of Accidents Per Lakh Population - 2013"].median()

In [14]:
Accidents13_median

30.25

In [15]:
df["Total Number of Accidents Per Lakh Population - 2013"]=df["Total Number of Accidents Per Lakh Population - 2013"].replace(np.nan,Accidents13_median)

In [16]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      0
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            0
Total Number of Accidents Per Lakh Population - 2014            1
Total Number of Accidents Per Lakh Population - 2015            1
Total Number of Accidents Per Lakh Population - 2016            1
Total Number of Road Accidents per 10,000 Vehicles - 2013       1
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    1
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [17]:
Accidents14_median=df["Total Number of Accidents Per Lakh Population - 2014"].median()

In [18]:
Accidents14_median

28.700000000000003

In [19]:
df["Total Number of Accidents Per Lakh Population - 2014"]=df["Total Number of Accidents Per Lakh Population - 2014"].replace(np.nan,Accidents14_median)

In [20]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      0
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            0
Total Number of Accidents Per Lakh Population - 2014            0
Total Number of Accidents Per Lakh Population - 2015            1
Total Number of Accidents Per Lakh Population - 2016            1
Total Number of Road Accidents per 10,000 Vehicles - 2013       1
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    1
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [21]:
Accidents15_median=df["Total Number of Accidents Per Lakh Population - 2015"].median()

In [22]:
Accidents15_median

26.95

In [23]:
df["Total Number of Accidents Per Lakh Population - 2015"]=df["Total Number of Accidents Per Lakh Population - 2015"].replace(np.nan,Accidents15_median)

In [24]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      0
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            0
Total Number of Accidents Per Lakh Population - 2014            0
Total Number of Accidents Per Lakh Population - 2015            0
Total Number of Accidents Per Lakh Population - 2016            1
Total Number of Road Accidents per 10,000 Vehicles - 2013       1
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    1
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [25]:
Accidents16_median=df["Total Number of Accidents Per Lakh Population - 2016"].median()

In [26]:
Accidents16_median

26.5

In [27]:
df["Total Number of Accidents Per Lakh Population - 2016"]=df["Total Number of Accidents Per Lakh Population - 2016"].replace(np.nan,Accidents16_median)

In [28]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      0
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            0
Total Number of Accidents Per Lakh Population - 2014            0
Total Number of Accidents Per Lakh Population - 2015            0
Total Number of Accidents Per Lakh Population - 2016            0
Total Number of Road Accidents per 10,000 Vehicles - 2013       1
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    1
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [29]:
Road_Accidents_Vehickels13_median=df["Total Number of Road Accidents per 10,000 Vehicles - 2013"].median()

In [30]:
Road_Accidents_Vehickels13_median

23.4

In [31]:
df["Total Number of Road Accidents per 10,000 Vehicles - 2013"]=df["Total Number of Road Accidents per 10,000 Vehicles - 2013"].replace(np.nan,Road_Accidents_Vehickels13_median)

In [32]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      0
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            0
Total Number of Accidents Per Lakh Population - 2014            0
Total Number of Accidents Per Lakh Population - 2015            0
Total Number of Accidents Per Lakh Population - 2016            0
Total Number of Road Accidents per 10,000 Vehicles - 2013       0
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    1
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [33]:
Road_Accidents_Roads13_median=df["Total Number of Road Accidents per 10,000 Km of Roads - 2013"].median()

In [34]:
Road_Accidents_Roads13_median

1096.15

In [35]:
df["Total Number of Road Accidents per 10,000 Km of Roads - 2013"]=df["Total Number of Road Accidents per 10,000 Km of Roads - 2013"].replace(np.nan,Road_Accidents_Roads13_median)

In [36]:
df.isnull().sum()

SI. No.                                                         0
States/UTs                                                      0
State/UT-Wise Total Number of Road Accidents during - 2013      0
State/UT-Wise Total Number of Road Accidents during - 2014      0
State/UT-Wise Total Number of Road Accidents during - 2015      0
State/UT-Wise Total Number of Road Accidents during - 2016      0
Share of States/UTs in Total Number of Road Accidents - 2013    0
Share of States/UTs in Total Number of Road Accidents - 2014    0
Share of States/UTs in Total Number of Road Accidents - 2015    0
Share of States/UTs in Total Number of Road Accidents - 2016    0
Total Number of Accidents Per Lakh Population - 2013            0
Total Number of Accidents Per Lakh Population - 2014            0
Total Number of Accidents Per Lakh Population - 2015            0
Total Number of Accidents Per Lakh Population - 2016            0
Total Number of Road Accidents per 10,000 Vehicles - 2013       0
Total Number of Road Accidents per 10,000 Vehicles - 2014       0
Total Number of Road Accidents per 10,000 Vehicles - 2015       0
Total Number of Road Accidents per 10,000 Km of Roads - 2013    0
Total Number of Road Accidents per 10,000 Km of Roads - 2014    0
Total Number of Road Accidents per 10,000 Km of Roads - 2015    0
dtype: int64

In [37]:
df1 = pd.read_csv("Details_of_road_accident_deaths_by_situation_state_2014.csv")

In [38]:
df1.describe()

,Year,Offenders (Driver/Pedestrian) Died_Male,Offenders (Driver/Pedestrian) Died_Female,Offenders (Driver/Pedestrian) Died_Transgender,Offenders (Driver/Pedestrian) Died_Total,Victims Died_Male,Victims Died_Female,Victims Died_Transgender,Victims Died_Total
count,1443.0,1443.000000,1443.000000,1443.0,1443.000000,1443.000000,1443.000000,1443.000000,1443.000000
mean,2014.0,251.592516,21.717256,0.0,273.309771,705.873181,138.596674,0.135135,844.604990
std,0.0,1771.130507,145.773970,0.0,1913.414582,4761.368106,928.304823,1.166645,5688.986685
min,2014.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2014.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2014.0,6.000000,0.000000,0.0,6.000000,20.000000,4.000000,0.000000,25.000000
75%,2014.0,52.000000,4.000000,0.0,56.000000,192.500000,38.000000,0.000000,229.000000
max,2014.0,31449.000000,2803.000000,0.0,34252.000000,89683.000000,17574.000000,17.000000,107274.000000

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1443 entries, 0 to 1442
Data columns (total 11 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   States/UTs                                      1443 non-null   object
 1   Year                                            1443 non-null   int64
 2   CrimeHead                                       1443 non-null   object
 3   Offenders (Driver/Pedestrian) Died_Male         1443 non-null   int64
 4   Offenders (Driver/Pedestrian) Died_Female       1443 non-null   int64
 5   Offenders (Driver/Pedestrian) Died_Transgender  1443 non-null   int64
 6   Offenders (Driver/Pedestrian) Died_Total        1443 non-null   int64
 7   Victims Died_Male                               1443 non-null   int64
 8   Victims Died_Female                             1443 non-null   int64
 9   Victims Died_Transgender                        1443 non-null   int64
 10  Victims Died_Total                              1443 non-null   int64
dtypes: int64(9), object(2)
memory usage: 124.1+ KB

In [40]:
df1.shape

(1443, 11)

In [41]:
df1.sample(5)

,States/UTs,Year,CrimeHead,Offenders (Driver/Pedestrian) Died_Male,Offenders (Driver/Pedestrian) Died_Female,Offenders (Driver/Pedestrian) Died_Transgender,Offenders (Driver/Pedestrian) Died_Total,Victims Died_Male,Victims Died_Female,Victims Died_Transgender,Victims Died_Total
1089,A & N Islands,2014,Car (4 & 5 Seater) - Taxi,0,0,0,0,0,0,0,0
337,Jammu & Kashmir,2014,Truck/Lorry - Others,26,0,0,26,25,1,0,26
460,Kerala,2014,Car (4 & 5 Seater) - Taxi,5,0,0,5,45,11,0,56
594,Meghalaya,2014,Truck/Lorry - Trailer/Container Carriers,0,0,0,0,0,0,0,0
1114,Chandigarh,2014,Truck/Lorry - Others,0,0,0,0,0,0,0,0

In [42]:
df1.isnull().sum()

States/UTs                                        0
Year                                              0
CrimeHead                                         0
Offenders (Driver/Pedestrian) Died_Male           0
Offenders (Driver/Pedestrian) Died_Female         0
Offenders (Driver/Pedestrian) Died_Transgender    0
Offenders (Driver/Pedestrian) Died_Total          0
Victims Died_Male                                 0
Victims Died_Female                               0
Victims Died_Transgender                          0
Victims Died_Total                                0
dtype: int64

In [43]:
df1.dtypes

States/UTs                                        object
Year                                               int64
CrimeHead                                         object
Offenders (Driver/Pedestrian) Died_Male            int64
Offenders (Driver/Pedestrian) Died_Female          int64
Offenders (Driver/Pedestrian) Died_Transgender     int64
Offenders (Driver/Pedestrian) Died_Total           int64
Victims Died_Male                                  int64
Victims Died_Female                                int64
Victims Died_Transgender                           int64
Victims Died_Total                                 int64
dtype: object

In [44]:
df2 = pd.read_csv("Persons_killed_due_to_Non-use_of_Safety_Device_2016.csv")

In [45]:
df2.describe()

,Non-wearing of Helmet - Male,Non-wearing of Helmet - Female,Non-wearing of Helmet - Total,Non-wearing of seat belt - Male,Non-wearing of seat belt - Female,Non-wearing of seat belt - Total
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,465.729730,82.108108,547.837838,243.189189,61.567568,304.756757
std,1486.880639,293.493970,1768.896588,798.043748,218.020583,1013.397652
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16.000000,0.000000,17.000000,0.000000,0.000000,0.000000
75%,174.000000,7.000000,174.000000,86.000000,15.000000,105.000000
max,8616.000000,1519.000000,10135.000000,4499.000000,1139.000000,5638.000000

In [46]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   S. No.                             37 non-null     object
 1   State/ UT                          37 non-null     object
 2   Non-wearing of Helmet - Male       37 non-null     int64
 3   Non-wearing of Helmet - Female     37 non-null     int64
 4   Non-wearing of Helmet - Total      37 non-null     int64
 5   Non-wearing of seat belt - Male    37 non-null     int64
 6   Non-wearing of seat belt - Female  37 non-null     int64
 7   Non-wearing of seat belt - Total   37 non-null     int64
dtypes: int64(6), object(2)
memory usage: 2.4+ KB

In [47]:
df2.shape

(37, 8)

In [48]:
df2.sample(5)

,S. No.,State/ UT,Non-wearing of Helmet - Male,Non-wearing of Helmet - Female,Non-wearing of Helmet - Total,Non-wearing of seat belt - Male,Non-wearing of seat belt - Female,Non-wearing of seat belt - Total
23,24,Tamil Nadu,1799,147,1946,542,90,632
3,4,Bihar,0,0,0,0,0,0
29,30,A & N Islands,0,0,0,0,0,0
11,12,Karnataka,237,7,244,39,5,44
0,1,Andhra Pradesh,459,18,477,222,15,237

In [49]:
df2.isnull().sum()

S. No.                               0
State/ UT                            0
Non-wearing of Helmet - Male         0
Non-wearing of Helmet - Female       0
Non-wearing of Helmet - Total        0
Non-wearing of seat belt - Male      0
Non-wearing of seat belt - Female    0
Non-wearing of seat belt - Total     0
dtype: int64

In [50]:
df2.dtypes

S. No.                               object
State/ UT                            object
Non-wearing of Helmet - Male          int64
Non-wearing of Helmet - Female        int64
Non-wearing of Helmet - Total         int64
Non-wearing of seat belt - Male       int64
Non-wearing of seat belt - Female     int64
Non-wearing of seat belt - Total      int64
dtype: object

In [51]:
df3 = pd.read_excel("accidents03-16.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [52]:
df3.describe()

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,35.000000,36.000000,37.000000,37.000000,37.000000
mean,4088.277778,4408.722222,4638.388889,5217.611111,5620.055556,5921.722222,6166.277778,6642.111111,6756.555556,7033.885714,6810.500000,6801.513514,7120.324324,7355.189189
std,12196.478472,13159.761523,13827.916745,15561.914618,16755.517803,17667.592536,18395.239144,19824.021874,20152.425372,20670.105015,20308.224267,20523.646175,21490.398174,22211.797088
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,24.000000,0.000000,0.000000,0.000000,1.000000
25%,127.500000,102.750000,112.750000,126.500000,106.000000,107.500000,121.500000,128.500000,138.750000,149.500000,123.000000,127.000000,124.000000,144.000000
50%,1348.000000,1378.000000,1441.000000,1705.500000,1780.500000,1735.000000,1888.500000,2014.000000,2011.000000,2011.000000,1970.000000,2169.000000,2122.000000,2445.000000
75%,3008.500000,3316.750000,4209.750000,4133.500000,4538.250000,4968.500000,4698.250000,5393.250000,5578.250000,5903.500000,5504.250000,6316.000000,6569.000000,6617.000000
max,73589.000000,79357.000000,83491.000000,93917.000000,101161.000000,106591.000000,110993.000000,119558.000000,121618.000000,123093.000000,122589.000000,125828.000000,131726.000000,136071.000000

In [53]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   States/Uts  37 non-null     object
 1   2003        36 non-null     float64
 2   2004        36 non-null     float64
 3   2005        36 non-null     float64
 4   2006        36 non-null     float64
 5   2007        36 non-null     float64
 6   2008        36 non-null     float64
 7   2009        36 non-null     float64
 8   2010        36 non-null     float64
 9   2011        36 non-null     float64
 10  2012        35 non-null     float64
 11  2013        36 non-null     float64
 12  2014        37 non-null     int64
 13  2015        37 non-null     int64
 14  2016        37 non-null     int64
dtypes: float64(11), int64(3), object(1)
memory usage: 4.5+ KB

In [54]:
df3.shape

(37, 15)

In [55]:
df3.sample(5)

,States/Uts,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
34,Lakshadweep,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0,0,1
30,Chandigarh,132.0,144.0,133.0,134.0,142.0,144.0,164.0,132.0,129.0,130.0,114.0,124,124,144
28,West Bengal,1793.0,2246.0,4073.0,3896.0,4232.0,4671.0,4135.0,4975.0,5107.0,4911.0,5077.0,5489,5779,6081
32,Daman & Diu,19.0,23.0,21.0,24.0,29.0,29.0,32.0,30.0,33.0,26.0,30.0,15,38,32
15,Manipur,114.0,87.0,115.0,127.0,103.0,109.0,99.0,121.0,142.0,138.0,144.0,149,116,78

In [56]:
df3.isnull().sum()

States/Uts    0
2003          1
2004          1
2005          1
2006          1
2007          1
2008          1
2009          1
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [57]:
Accident03_median=df3[2003].median()

In [58]:
Accident03_median

1348.0

In [59]:
df3[2003]=df3[2003].replace(np.nan,Accident03_median)

In [60]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          1
2005          1
2006          1
2007          1
2008          1
2009          1
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [61]:
Accident04_median=df3[2004].median()

In [62]:
Accident04_median

1378.0

In [63]:
df3[2004]=df3[2004].replace(np.nan,Accident04_median)

In [64]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          1
2006          1
2007          1
2008          1
2009          1
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [65]:
Accident05_median=df3[2005].median()

In [66]:
Accident05_median

1441.0

In [67]:
df3[2005]=df3[2005].replace(np.nan,Accident05_median)

In [68]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          1
2007          1
2008          1
2009          1
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [69]:
Accident06_median=df3[2006].median()

In [70]:
Accident06_median

1705.5

In [71]:
df3[2006]=df3[2006].replace(np.nan,Accident06_median)

In [72]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          1
2008          1
2009          1
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [73]:
Accident07_median=df3[2007].median()

In [74]:
Accident07_median

1780.5

In [75]:
df3[2007]=df3[2007].replace(np.nan,Accident07_median)

In [76]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          1
2009          1
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [77]:
Accident08_median=df3[2008].median()

In [78]:
Accident08_median

1735.0

In [79]:
df3[2008]=df3[2008].replace(np.nan,Accident08_median)

In [80]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          1
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [81]:
Accident09_median=df3[2009].median()

In [82]:
Accident07_median

1780.5

In [83]:
df3[2009]=df3[2009].replace(np.nan,Accident09_median)

In [84]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          1
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [85]:
Accident10_median=df3[2010].median()

In [86]:
Accident10_median

2014.0

In [87]:
df3[2010]=df3[2010].replace(np.nan,Accident10_median)

In [88]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          1
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [89]:
Accident11_median=df3[2011].median()

In [90]:
Accident11_median

2011.0

In [91]:
df3[2011]=df3[2011].replace(np.nan,Accident11_median)

In [92]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          2
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [93]:
Accident12_median=df3[2012].median()

In [94]:
Accident12_median

2011.0

In [95]:
df3[2012]=df3[2012].replace(np.nan,Accident12_median)

In [96]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013          1
2014          0
2015          0
2016          0
dtype: int64

In [97]:
Accident13_median=df3[2013].median()

In [98]:
Accident13_median

1970.0

In [99]:
df3[2013]=df3[2013].replace(np.nan,Accident13_median)

In [100]:
df3.isnull().sum()

States/Uts    0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013          0
2014          0
2015          0
2016          0
dtype: int64

In [101]:
df3.dtypes

States/Uts     object
2003          float64
2004          float64
2005          float64
2006          float64
2007          float64
2008          float64
2009          float64
2010          float64
2011          float64
2012          float64
2013          float64
2014            int64
2015            int64
2016            int64
dtype: object

In [102]:
df4 = pd.read_csv("laneAccidents.csv")

In [103]:
df4.describe()

,Single Lane - Accident - 2014,Single Lane - Accident - 2014 per 1L people,Single Lane - Killed - 2014,Single Lane - Killed - 2014 per 1L people,Single Lane - Injured - 2014,Single Lane - Injured - 2014 per 1L people,Two Lanes - Accident - 2014,Two Lanes - Accident - 2014 per 1L people,Two Lanes - Killed - 2014,Two Lanes - Killed - 2014 per 1L people,...,3 Lanes or more w.o Median - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014,3 Lanes or more w.o Median - Injured - 2014 per 1L people,4 Lanes with Median - Accident - 2014,4 Lanes with Median - Accident - 2014 per 1L people,4 Lanes with Median - Killed - 2014,4 Lanes with Median - Killed - 2014 per 1L people,4 Lanes with Median - Injured - 2014,4 Lanes with Median - Injured - 2014 per 1L people,Population
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,...,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,3.700000e+01
mean,11540.277778,21.431678,3352.000000,5.046668,12075.333333,21.251891,10732.666667,18.810667,2946.277778,4.680942,...,0.297729,799.277778,0.890781,3193.333333,3.159082,1067.000000,1.077311,3065.277778,3.022500,6.545391e+07
std,34523.823440,28.170904,9977.978244,2.540142,36258.451738,17.031362,32259.233885,23.010165,8757.384736,2.957240,...,0.437932,2447.238206,1.199863,9714.399812,4.225315,3215.912854,1.435097,9409.530408,4.565481,1.981415e+08
min,1.000000,1.551037,0.000000,0.000000,1.000000,1.551037,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.447300e+04
25%,307.250000,8.160290,75.750000,3.678567,321.500000,8.171170,180.250000,6.840277,58.750000,2.635480,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.458545e+06
50%,3330.500000,15.774448,1094.000000,4.366860,2398.500000,16.448195,2192.000000,11.375916,1107.500000,4.234272,...,0.070371,90.000000,0.329845,548.000000,1.438763,168.500000,0.421140,471.000000,1.314703,2.535146e+07
75%,8129.250000,22.982260,2993.750000,6.239744,8565.250000,30.661912,8321.500000,20.911372,2802.000000,5.795210,...,0.470111,413.750000,1.310519,2560.750000,4.604237,740.750000,1.632331,2443.500000,4.568269,6.043969e+07
max,207725.000000,172.980607,60336.000000,12.820996,217356.000000,74.800572,193188.000000,116.965880,53033.000000,12.801527,...,1.894926,14387.000000,4.055617,57480.000000,18.126872,19206.000000,4.445503,55175.000000,21.835965,1.210855e+09

In [104]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 27 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   S.No                                                        37 non-null     object
 1   State/UT                                                    37 non-null     object
 2   Single Lane - Accident - 2014                               36 non-null     float64
 3   Single Lane - Accident - 2014 per 1L people                 36 non-null     float64
 4   Single Lane - Killed - 2014                                 36 non-null     float64
 5   Single Lane - Killed - 2014 per 1L people                   36 non-null     float64
 6   Single Lane - Injured - 2014                                36 non-null     float64
 7   Single Lane - Injured - 2014 per 1L people                  36 non-null     float64
 8   Two Lanes - Accident - 2014                                 36 non-null     float64
 9   Two Lanes - Accident - 2014 per 1L people                   36 non-null     float64
 10  Two Lanes - Killed - 2014                                   36 non-null     float64
 11  Two Lanes - Killed - 2014 per 1L people                     36 non-null     float64
 12  Two Lanes - Injured - 2014                                  36 non-null     float64
 13  Two Lanes - Injured - 2014 per 1L people                    36 non-null     float64
 14  3 Lanes or more w.o Median - Accident - 2014                36 non-null     float64
 15  3 Lanes or more w.o Median - Accident - 2014 per 1L people  36 non-null     float64
 16  3 Lanes or more w.o Median - Killed - 2014                  36 non-null     float64
 17  3 Lanes or more w.o Median - Killed - 2014 per 1L people    36 non-null     float64
 18  3 Lanes or more w.o Median - Injured - 2014                 36 non-null     float64
 19  3 Lanes or more w.o Median - Injured - 2014 per 1L people   36 non-null     float64
 20  4 Lanes with Median - Accident - 2014                       36 non-null     float64
 21  4 Lanes with Median - Accident - 2014 per 1L people         36 non-null     float64
 22  4 Lanes with Median - Killed - 2014                         36 non-null     float64
 23  4 Lanes with Median - Killed - 2014 per 1L people           36 non-null     float64
 24  4 Lanes with Median - Injured - 2014                        36 non-null     float64
 25  4 Lanes with Median - Injured - 2014 per 1L people          36 non-null     float64
 26  Population                                                  37 non-null     int64
dtypes: float64(24), int64(1), object(2)
memory usage: 7.9+ KB

In [105]:
df4.shape

(37, 27)

In [106]:
df4.sample(5)

,S.No,State/UT,Single Lane - Accident - 2014,Single Lane - Accident - 2014 per 1L people,Single Lane - Killed - 2014,Single Lane - Killed - 2014 per 1L people,Single Lane - Injured - 2014,Single Lane - Injured - 2014 per 1L people,Two Lanes - Accident - 2014,Two Lanes - Accident - 2014 per 1L people,...,3 Lanes or more w.o Median - Killed - 2014 per 1L people,3 Lanes or more w.o Median - Injured - 2014,3 Lanes or more w.o Median - Injured - 2014 per 1L people,4 Lanes with Median - Accident - 2014,4 Lanes with Median - Accident - 2014 per 1L people,4 Lanes with Median - Killed - 2014,4 Lanes with Median - Killed - 2014 per 1L people,4 Lanes with Median - Injured - 2014,4 Lanes with Median - Injured - 2014 per 1L people,Population
6,7,Gujarat,10978.0,18.163560,3101.0,5.130734,10673.0,17.658925,7475.0,12.367700,...,0.410326,526.0,0.870289,4617.0,7.63902,1937.0,3.204848,4193.0,6.937494,60439692
1,2,Arunachal Pradesh,90.0,6.504173,60.0,4.336115,152.0,10.984826,115.0,8.310888,...,0.000000,0.0,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.000000,1383727
27,28,Uttar Pradesh,14955.0,7.484523,7770.0,3.888649,10561.0,5.285459,8965.0,4.486710,...,0.718674,2038.0,1.019957,4471.0,2.23760,2341.0,1.171599,3192.0,1.597499,199812341
26,27,Uttarakhand,742.0,7.356519,454.0,4.501159,825.0,8.179418,668.0,6.622850,...,0.000000,0.0,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.000000,10086292
5,6,Goa,2523.0,172.980607,187.0,12.820996,1091.0,74.800572,1706.0,116.965880,...,0.000000,0.0,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.000000,1458545

In [107]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 1
Single Lane - Accident - 2014 per 1L people                   1
Single Lane - Killed - 2014                                   1
Single Lane - Killed - 2014 per 1L people                     1
Single Lane - Injured - 2014                                  1
Single Lane - Injured - 2014 per 1L people                    1
Two Lanes - Accident - 2014                                   1
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [108]:
SL_ACC14=df4["Single Lane - Accident - 2014"].median()

In [109]:
SL_ACC14

3330.5

In [110]:
df4["Single Lane - Accident - 2014"]=df4["Single Lane - Accident - 2014"].replace(np.nan,SL_ACC14)

In [111]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   1
Single Lane - Killed - 2014                                   1
Single Lane - Killed - 2014 per 1L people                     1
Single Lane - Injured - 2014                                  1
Single Lane - Injured - 2014 per 1L people                    1
Two Lanes - Accident - 2014                                   1
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [112]:
SL_ACC14P1P=df4["Single Lane - Accident - 2014 per 1L people"].median()

In [113]:
SL_ACC14P1P

15.774447620455451

In [114]:
df4["Single Lane - Accident - 2014 per 1L people"]=df4["Single Lane - Accident - 2014 per 1L people"].replace(np.nan,SL_ACC14P1P)

In [115]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   1
Single Lane - Killed - 2014 per 1L people                     1
Single Lane - Injured - 2014                                  1
Single Lane - Injured - 2014 per 1L people                    1
Two Lanes - Accident - 2014                                   1
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [116]:
SL_KIL14=df4["Single Lane - Killed - 2014"].median()

In [117]:
SL_KIL14

1094.0

In [118]:
df4["Single Lane - Killed - 2014"]=df4["Single Lane - Killed - 2014"].replace(np.nan,SL_ACC14)

In [119]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     1
Single Lane - Injured - 2014                                  1
Single Lane - Injured - 2014 per 1L people                    1
Two Lanes - Accident - 2014                                   1
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [120]:
SL_KIL14P1P=df4["Single Lane - Killed - 2014 per 1L people"].median()

In [121]:
SL_KIL14P1P

4.366859577835055

In [122]:
df4["Single Lane - Killed - 2014 per 1L people"]=df4["Single Lane - Killed - 2014 per 1L people"].replace(np.nan,SL_KIL14P1P)

In [123]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  1
Single Lane - Injured - 2014 per 1L people                    1
Two Lanes - Accident - 2014                                   1
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [124]:
SL_INJ14=df4["Single Lane - Injured - 2014"].median()

In [125]:
SL_INJ14

2398.5

In [126]:
df4["Single Lane - Injured - 2014"]=df4["Single Lane - Injured - 2014"].replace(np.nan,SL_INJ14)

In [127]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    1
Two Lanes - Accident - 2014                                   1
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [128]:
SL_INJ14P1P=df4["Single Lane - Injured - 2014 per 1L people"].median()

In [129]:
SL_INJ14P1P

16.4481952501929

In [130]:
df4["Single Lane - Injured - 2014 per 1L people"]=df4["Single Lane - Injured - 2014 per 1L people"].replace(np.nan,SL_INJ14P1P)

In [131]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   1
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [132]:
TL_ACC14=df4["Two Lanes - Accident - 2014"].median()

In [133]:
TL_ACC14

2192.0

In [134]:
df4["Two Lanes - Accident - 2014"]=df4["Two Lanes - Accident - 2014"].replace(np.nan,TL_ACC14)

In [135]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     1
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [136]:
TL_ACC14P1P=df4["Two Lanes - Accident - 2014 per 1L people"].median()

In [137]:
TL_ACC14P1P

11.375915755052251

In [138]:
df4["Two Lanes - Accident - 2014 per 1L people"]=df4["Two Lanes - Accident - 2014 per 1L people"].replace(np.nan,TL_ACC14P1P)

In [139]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     1
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [140]:
TL_KIL14=df4["Two Lanes - Killed - 2014"].median()

In [141]:
TL_KIL14

1107.5

In [142]:
df4["Two Lanes - Killed - 2014"]=df4["Two Lanes - Killed - 2014"].replace(np.nan,TL_ACC14)

In [143]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       1
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [144]:
TL_KIL14P1P=df4["Two Lanes - Killed - 2014 per 1L people"].median()

In [145]:
SL_KIL14P1P

4.366859577835055

In [146]:
df4["Two Lanes - Killed - 2014 per 1L people"]=df4["Two Lanes - Killed - 2014 per 1L people"].replace(np.nan,TL_KIL14P1P)

In [147]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    1
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [148]:
TL_INJ14=df4["Two Lanes - Injured - 2014"].median()

In [149]:
SL_INJ14

2398.5

In [150]:
df4["Two Lanes - Injured - 2014"]=df4["Two Lanes - Injured - 2014"].replace(np.nan,TL_INJ14)

In [151]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      1
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [152]:
TL_INJ14P1P=df4["Two Lanes - Injured - 2014 per 1L people"].median()

In [153]:
TL_INJ14P1P

12.2939991170316

In [154]:
df4["Two Lanes - Injured - 2014 per 1L people"]=df4["Two Lanes - Injured - 2014 per 1L people"].replace(np.nan,TL_INJ14P1P)

In [155]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  1
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [156]:
THL_ACC14=df4["3 Lanes or more w.o Median - Accident - 2014"].median()

In [157]:
THL_ACC14

57.5

In [158]:
df4["3 Lanes or more w.o Median - Accident - 2014"]=df4["3 Lanes or more w.o Median - Accident - 2014"].replace(np.nan,THL_ACC14)

In [159]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    1
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [160]:
THL_ACC14P1P=df4["3 Lanes or more w.o Median - Accident - 2014 per 1L people"].median()

In [161]:
THL_ACC14P1P

0.279087797488928

In [162]:
df4["3 Lanes or more w.o Median - Accident - 2014 per 1L people"]=df4["3 Lanes or more w.o Median - Accident - 2014 per 1L people"].replace(np.nan,THL_ACC14P1P)

In [163]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    1
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [164]:
THL_KIL14=df4["3 Lanes or more w.o Median - Killed - 2014"].median()

In [165]:
THL_KIL14

20.5

In [166]:
df4["3 Lanes or more w.o Median - Killed - 2014"]=df4["3 Lanes or more w.o Median - Killed - 2014"].replace(np.nan,THL_ACC14)

In [167]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      1
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [168]:
THL_KIL14P1P=df4["3 Lanes or more w.o Median - Killed - 2014 per 1L people"].median()

In [169]:
THL_KIL14P1P

0.07037087412683775

In [170]:
df4["3 Lanes or more w.o Median - Killed - 2014 per 1L people"]=df4["3 Lanes or more w.o Median - Killed - 2014 per 1L people"].replace(np.nan,THL_KIL14P1P)

In [171]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   1
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [172]:
THL_INJ14=df4["3 Lanes or more w.o Median - Injured - 2014"].median()

In [173]:
THL_INJ14

90.0

In [174]:
df4["3 Lanes or more w.o Median - Injured - 2014"]=df4["3 Lanes or more w.o Median - Injured - 2014"].replace(np.nan,THL_INJ14)

In [175]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     1
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [176]:
THL_INJ14P1P=df4["3 Lanes or more w.o Median - Injured - 2014 per 1L people"].median()

In [177]:
THL_INJ14P1P

0.32984516543201303

In [178]:
df4["3 Lanes or more w.o Median - Injured - 2014 per 1L people"]=df4["3 Lanes or more w.o Median - Injured - 2014 per 1L people"].replace(np.nan,THL_INJ14)

In [179]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     0
4 Lanes with Median - Accident - 2014                         1
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [180]:
FOL_ACC14=df4["4 Lanes with Median - Accident - 2014"].median()

In [181]:
FOL_ACC14

548.0

In [182]:
df4["4 Lanes with Median - Accident - 2014"]=df4["4 Lanes with Median - Accident - 2014"].replace(np.nan,FOL_ACC14)

In [183]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     0
4 Lanes with Median - Accident - 2014                         0
4 Lanes with Median - Accident - 2014 per 1L people           1
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [184]:
FOL_ACC14P1P=df4["4 Lanes with Median - Accident - 2014 per 1L people"].median()

In [185]:
FOL_ACC14P1P

1.438762963186765

In [186]:
df4["4 Lanes with Median - Accident - 2014 per 1L people"]=df4["4 Lanes with Median - Accident - 2014 per 1L people"].replace(np.nan,FOL_ACC14P1P)

In [187]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     0
4 Lanes with Median - Accident - 2014                         0
4 Lanes with Median - Accident - 2014 per 1L people           0
4 Lanes with Median - Killed - 2014                           1
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [188]:
FOL_KIL14=df4["4 Lanes with Median - Killed - 2014"].median()

In [189]:
FOL_KIL14

168.5

In [190]:
df4["4 Lanes with Median - Killed - 2014"]=df4["4 Lanes with Median - Killed - 2014"].replace(np.nan,FOL_ACC14)

In [191]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     0
4 Lanes with Median - Accident - 2014                         0
4 Lanes with Median - Accident - 2014 per 1L people           0
4 Lanes with Median - Killed - 2014                           0
4 Lanes with Median - Killed - 2014 per 1L people             1
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [192]:
FOL_KIL14P1P=df4["4 Lanes with Median - Killed - 2014 per 1L people"].median()

In [193]:
FOL_KIL14P1P

0.421140186340283

In [194]:
df4["4 Lanes with Median - Killed - 2014 per 1L people"]=df4["4 Lanes with Median - Killed - 2014 per 1L people"].replace(np.nan,FOL_KIL14P1P)

In [195]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     0
4 Lanes with Median - Accident - 2014                         0
4 Lanes with Median - Accident - 2014 per 1L people           0
4 Lanes with Median - Killed - 2014                           0
4 Lanes with Median - Killed - 2014 per 1L people             0
4 Lanes with Median - Injured - 2014                          1
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [196]:
FOL_INJ14=df4["4 Lanes with Median - Injured - 2014"].median()

In [197]:
FOL_INJ14

471.0

In [198]:
df4["4 Lanes with Median - Injured - 2014"]=df4["4 Lanes with Median - Injured - 2014"].replace(np.nan,FOL_INJ14)

In [199]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     0
4 Lanes with Median - Accident - 2014                         0
4 Lanes with Median - Accident - 2014 per 1L people           0
4 Lanes with Median - Killed - 2014                           0
4 Lanes with Median - Killed - 2014 per 1L people             0
4 Lanes with Median - Injured - 2014                          0
4 Lanes with Median - Injured - 2014 per 1L people            1
Population                                                    0
dtype: int64

In [200]:
FOL_INJ14P1P=df4["4 Lanes with Median - Injured - 2014 per 1L people"].median()

In [201]:
FOL_INJ14P1P

1.314702676943675

In [202]:
df4["4 Lanes with Median - Injured - 2014 per 1L people"]=df4["4 Lanes with Median - Injured - 2014 per 1L people"].replace(np.nan,FOL_INJ14)

In [203]:
df4.isnull().sum()

S.No                                                          0
State/UT                                                      0
Single Lane - Accident - 2014                                 0
Single Lane - Accident - 2014 per 1L people                   0
Single Lane - Killed - 2014                                   0
Single Lane - Killed - 2014 per 1L people                     0
Single Lane - Injured - 2014                                  0
Single Lane - Injured - 2014 per 1L people                    0
Two Lanes - Accident - 2014                                   0
Two Lanes - Accident - 2014 per 1L people                     0
Two Lanes - Killed - 2014                                     0
Two Lanes - Killed - 2014 per 1L people                       0
Two Lanes - Injured - 2014                                    0
Two Lanes - Injured - 2014 per 1L people                      0
3 Lanes or more w.o Median - Accident - 2014                  0
3 Lanes or more w.o Median - Accident - 2014 per 1L people    0
3 Lanes or more w.o Median - Killed - 2014                    0
3 Lanes or more w.o Median - Killed - 2014 per 1L people      0
3 Lanes or more w.o Median - Injured - 2014                   0
3 Lanes or more w.o Median - Injured - 2014 per 1L people     0
4 Lanes with Median - Accident - 2014                         0
4 Lanes with Median - Accident - 2014 per 1L people           0
4 Lanes with Median - Killed - 2014                           0
4 Lanes with Median - Killed - 2014 per 1L people             0
4 Lanes with Median - Injured - 2014                          0
4 Lanes with Median - Injured - 2014 per 1L people            0
Population                                                    0
dtype: int64

In [204]:
df4.dtypes

S.No                                                           object
State/UT                                                       object
Single Lane - Accident - 2014                                 float64
Single Lane - Accident - 2014 per 1L people                   float64
Single Lane - Killed - 2014                                   float64
Single Lane - Killed - 2014 per 1L people                     float64
Single Lane - Injured - 2014                                  float64
Single Lane - Injured - 2014 per 1L people                    float64
Two Lanes - Accident - 2014                                   float64
Two Lanes - Accident - 2014 per 1L people                     float64
Two Lanes - Killed - 2014                                     float64
Two Lanes - Killed - 2014 per 1L people                       float64
Two Lanes - Injured - 2014                                    float64
Two Lanes - Injured - 2014 per 1L people                      float64
3 Lanes or more w.o Median - Accident - 2014                  float64
3 Lanes or more w.o Median - Accident - 2014 per 1L people    float64
3 Lanes or more w.o Median - Killed - 2014                    float64
3 Lanes or more w.o Median - Killed - 2014 per 1L people      float64
3 Lanes or more w.o Median - Injured - 2014                   float64
3 Lanes or more w.o Median - Injured - 2014 per 1L people     float64
4 Lanes with Median - Accident - 2014                         float64
4 Lanes with Median - Accident - 2014 per 1L people           float64
4 Lanes with Median - Killed - 2014                           float64
4 Lanes with Median - Killed - 2014 per 1L people             float64
4 Lanes with Median - Injured - 2014                          float64
4 Lanes with Median - Injured - 2014 per 1L people            float64
Population                                                      int64
dtype: object

In [205]:
df5 = pd.read_csv("reasonOfAccident.csv")

In [206]:
df5.describe()

,Fault of Driver-Total No. of Road Accidents - 2014,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver-Number of Persons-Killed - 2014,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver-Number of Persons-Injured - 2014,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver of other vehicles-Number of Persons-Killed - 2014,Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people,...,Falling of boulders-Number of Persons-Killed - 2014,Falling of boulders-Number of Persons-Killed - 2014 per 1L people,Falling of boulders-Number of Persons-Injured - 2014,Falling of boulders-Number of Persons-Injured - 2014 per 1L people,Other causes/causes not known-Total No. of Road Accidents - 2014,Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people,Other causes/causes not known-Number of Persons-Killed - 2014,Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people,Other causes/causes not known-Number of Persons-Injured - 2014,Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people
count,36.000000,36.000000,37.000000,37.000000,36.000000,36.000000,36.000000,36.000000,37.000000,37.000000,...,37.000000,37.000000,36.000000,36.000000,36.000000,36.000000,37.000000,37.000000,36.000000,36.000000
mean,21055.111111,36.666151,5560.972973,8.516488,21852.222222,36.315267,1159.777778,1.229603,286.216216,0.384036,...,40.216216,0.044060,110.444444,0.133744,1636.833333,2.604311,589.243243,0.910375,1529.388889,3.251339
std,63363.244239,46.435355,16830.551698,5.413231,65972.119737,34.129519,3648.841923,1.531675,893.954173,0.428783,...,132.302292,0.115244,372.830060,0.541458,4947.525693,2.999267,1805.838546,1.085812,4586.680762,4.826879
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,216.250000,10.367798,94.000000,4.104506,267.750000,8.950361,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3822.000000,27.064447,1354.000000,8.567215,3731.000000,29.876404,47.500000,0.685289,14.000000,0.243997,...,0.000000,0.000000,0.500000,0.000729,182.500000,2.096981,108.000000,0.620453,239.000000,1.767930
75%,16994.250000,42.808927,4049.000000,12.411767,15275.500000,45.747887,451.500000,1.661416,209.000000,0.673780,...,7.000000,0.027402,38.500000,0.067292,1171.250000,3.743079,555.000000,1.140161,1470.000000,4.189250
max,378992.000000,260.190807,102878.000000,19.855287,393340.000000,123.019592,20876.000000,6.469449,5295.000000,1.801575,...,744.000000,0.607660,1988.000000,3.267723,29463.000000,11.555455,10901.000000,4.681932,27529.000000,22.340547

In [207]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 63 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Sl. No                                                                                 37 non-null     object
 1   States/UTs                                                                             37 non-null     object
 2   Fault of Driver-Total No. of Road Accidents - 2014                                     36 non-null     float64
 3   Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                       36 non-null     float64
 4   Fault of Driver-Number of Persons-Killed - 2014                                        37 non-null     int64
 5   Fault of Driver-Number of Persons-Killed - 2014 per 1L people                          37 non-null     float64
 6   Fault of Driver-Number of Persons-Injured - 2014                                       36 non-null     float64
 7   Fault of Driver-Number of Persons-Injured - 2014 per 1L people                         36 non-null     float64
 8   Fault of Driver of other vehicles-Total No. of Road Accidents - 2014                   36 non-null     float64
 9   Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people     36 non-null     float64
 10  Fault of Driver of other vehicles-Number of Persons-Killed - 2014                      37 non-null     int64
 11  Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people        37 non-null     float64
 12  Fault of Driver of other vehicles-Number of Persons-Injured - 2014                     36 non-null     float64
 13  Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people       36 non-null     float64
 14  Fault of Pedestrian-Total No. of Road Accidents - 2014                                 36 non-null     float64
 15  Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people                   36 non-null     float64
 16  Fault of Pedestrian-Number of Persons-Killed - 2014                                    37 non-null     int64
 17  Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people                      37 non-null     float64
 18  Fault of Pedestrian-Number of Persons-Injured - 2014                                   36 non-null     float64
 19  Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people                     36 non-null     float64
 20  Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014                36 non-null     float64
 21  Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people  36 non-null     float64
 22  Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014                   37 non-null     int64
 23  Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people     37 non-null     float64
 24  Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014                  36 non-null     float64
 25  Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people    36 non-null     float64
 26  Defect in Road Condition-Total No. of Road Accidents - 2014                            36 non-null     float64
 27  Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people              36 non-null     float64
 28  Defect in Road Condition-Number of Persons-Killed - 2014                               37 non-null     int64
 29  Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people                 37 non-null     float64
 30  Defect in Road Condition-Number of Persons-Injured - 2014                              36 non-null     float64
 31  Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people                36 non-null     float64
 32  Weather Condition-Total No. of Road Accidents - 2014                                   36 non-null     float64
 33  Weather Condition-Total No. of Road Accidents - 2014 per 1L people                     36 non-null     float64
 34  Weather Condition-Number of Persons-Killed - 2014                                      37 non-null     int64
 35  Weather Condition-Number of Persons-Killed - 2014 per 1L people                        37 non-null     float64
 36  Weather Condition-Number of Persons-Injured - 2014                                     36 non-null     float64
 37  Weather Condition-Number of Persons-Injured - 2014 per 1L people                       36 non-null     float64
 38  Fault of Passenger-Total No. of Road Accidents - 2014                                  36 non-null     float64
 39  Fault of Passenger-Total No. of Road Accidents - 2014 per 1L people                    36 non-null     float64
 40  Fault of Passenger-Number of Persons-Killed - 2014                                     37 non-null     int64
 41  Fault of Passenger-Number of Persons-Killed - 2014 per 1L people                       37 non-null     float64
 42  Fault of Passenger-Number of Persons-Injured - 2014                                    36 non-null     float64
 43  Fault of Passenger-Number of Persons-Injured - 2014 per 1L people                      36 non-null     float64
 44  Poor light-Total No. of Road Accidents - 2014                                          36 non-null     float64
 45  Poor light-Total No. of Road Accidents - 2014 per 1L people                            36 non-null     float64
 46  Poor light-Number of Persons-Killed - 2014                                             37 non-null     int64
 47  Poor light-Number of Persons-Killed - 2014 per 1L people                               37 non-null     float64
 48  Poor light-Number of Persons-Injured - 2014                                            36 non-null     float64
 49  Poor light-Number of Persons-Injured - 2014 per 1L people                              36 non-null     float64
 50  Falling of boulders-Total No. of Road Accidents - 2014                                 36 non-null     float64
 51  Falling of boulders-Total No. of Road Accidents - 2014 per 1L people                   36 non-null     float64
 52  Falling of boulders-Number of Persons-Killed - 2014                                    37 non-null     int64
 53  Falling of boulders-Number of Persons-Killed - 2014 per 1L people                      37 non-null     float64
 54  Falling of boulders-Number of Persons-Injured - 2014                                   36 non-null     float64
 55  Falling of boulders-Number of Persons-Injured - 2014 per 1L people                     36 non-null     float64
 56  Other causes/causes not known-Total No. of Road Accidents - 2014                       36 non-null     float64
 57  Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people         36 non-null     float64
 58  Other causes/causes not known-Number of Persons-Killed - 2014                          37 non-null     int64
 59  Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people            37 non-null     float64
 60  Other causes/causes not known-Number of Persons-Injured - 2014                         36 non-null     float64
 61  Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people           36 non-null     float64
 62  Population                                                                             37 non-null     object
dtypes: float64(50), int64(10), object(3)
memory usage: 18.3+ KB

In [208]:
df5.shape

(37, 63)

In [209]:
df5.sample(5)

,Sl. No,States/UTs,Fault of Driver-Total No. of Road Accidents - 2014,Fault of Driver-Total No. of Road Accidents - 2014 per 1L people,Fault of Driver-Number of Persons-Killed - 2014,Fault of Driver-Number of Persons-Killed - 2014 per 1L people,Fault of Driver-Number of Persons-Injured - 2014,Fault of Driver-Number of Persons-Injured - 2014 per 1L people,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014,Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people,...,Falling of boulders-Number of Persons-Killed - 2014 per 1L people,Falling of boulders-Number of Persons-Injured - 2014,Falling of boulders-Number of Persons-Injured - 2014 per 1L people,Other causes/causes not known-Total No. of Road Accidents - 2014,Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people,Other causes/causes not known-Number of Persons-Killed - 2014,Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people,Other causes/causes not known-Number of Persons-Injured - 2014,Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people,Population
0,1,Andhra Pradesh,21359.0,40.753165,6743,12.865705,26287.0,50.155834,288.0,0.549507,...,0.001908,12.0,0.022896,1530.0,2.919254,545,1.039865,1617.0,3.085251,52410653
18,19,Nagaland,211.0,10.664634,62,3.133684,157.0,7.935297,73.0,3.689660,...,0.000000,0.0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000,1978502
27,28,Uttar Pradesh,7661.0,3.834098,4047,2.025400,5588.0,2.796624,2737.0,1.369785,...,0.146137,463.0,0.231717,5101.0,2.552895,2556,1.279200,3237.0,1.620020,199812341
28,29,West Bengal,5952.0,6.520874,2680,2.936146,5697.0,6.241501,1495.0,1.637887,...,0.064639,100.0,0.109558,2067.0,2.264557,825,0.903851,2003.0,2.194440,91276115
25,26,Tripura,562.0,15.297025,147,4.001179,971.0,26.429557,23.0,0.626035,...,0.000000,0.0,0.000000,78.0,2.123075,16,0.435502,130.0,3.538458,3673917

In [210]:
df5.isnull().sum()

Sl. No                                                                          0
States/UTs                                                                      0
Fault of Driver-Total No. of Road Accidents - 2014                              1
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                1
Fault of Driver-Number of Persons-Killed - 2014                                 0
                                                                               ..
Other causes/causes not known-Number of Persons-Killed - 2014                   0
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     0
Other causes/causes not known-Number of Persons-Injured - 2014                  1
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    1
Population                                                                      0
Length: 63, dtype: int64

In [211]:
df5.dtypes

Sl. No                                                                           object
States/UTs                                                                       object
Fault of Driver-Total No. of Road Accidents - 2014                              float64
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                float64
Fault of Driver-Number of Persons-Killed - 2014                                   int64
                                                                                 ...
Other causes/causes not known-Number of Persons-Killed - 2014                     int64
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     float64
Other causes/causes not known-Number of Persons-Injured - 2014                  float64
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    float64
Population                                                                       object
Length: 63, dtype: object

In [212]:
FA_RA14=df5["Fault of Driver-Total No. of Road Accidents - 2014"].median()

In [213]:
FA_RA14

3822.0

In [214]:
df5["Fault of Driver-Total No. of Road Accidents - 2014"]=df5["Fault of Driver-Total No. of Road Accidents - 2014"].replace(np.nan,FA_RA14)

In [215]:
df5.isnull().sum()

Sl. No                                                                          0
States/UTs                                                                      0
Fault of Driver-Total No. of Road Accidents - 2014                              0
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                1
Fault of Driver-Number of Persons-Killed - 2014                                 0
                                                                               ..
Other causes/causes not known-Number of Persons-Killed - 2014                   0
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     0
Other causes/causes not known-Number of Persons-Injured - 2014                  1
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    1
Population                                                                      0
Length: 63, dtype: int64

In [216]:
FA_RA14P1P=df5["Fault of Driver-Total No. of Road Accidents - 2014 per 1L people"].median()

In [217]:
FA_RA14P1P

27.064447343018102

In [218]:
df5["Fault of Driver-Total No. of Road Accidents - 2014 per 1L people"]=df5["Fault of Driver-Total No. of Road Accidents - 2014 per 1L people"].replace(np.nan,FA_RA14P1P)

In [219]:
df5.isnull().sum()

Sl. No                                                                          0
States/UTs                                                                      0
Fault of Driver-Total No. of Road Accidents - 2014                              0
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                0
Fault of Driver-Number of Persons-Killed - 2014                                 0
                                                                               ..
Other causes/causes not known-Number of Persons-Killed - 2014                   0
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     0
Other causes/causes not known-Number of Persons-Injured - 2014                  1
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    1
Population                                                                      0
Length: 63, dtype: int64

In [220]:
OT_INJ14=df5["Other causes/causes not known-Number of Persons-Injured - 2014"].median()

In [221]:
OT_INJ14

239.0

In [222]:
df5["Other causes/causes not known-Number of Persons-Injured - 2014"]=df5["Other causes/causes not known-Number of Persons-Injured - 2014"].replace(np.nan,OT_INJ14)

In [223]:
df5.isnull().sum()

Sl. No                                                                          0
States/UTs                                                                      0
Fault of Driver-Total No. of Road Accidents - 2014                              0
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                0
Fault of Driver-Number of Persons-Killed - 2014                                 0
                                                                               ..
Other causes/causes not known-Number of Persons-Killed - 2014                   0
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     0
Other causes/causes not known-Number of Persons-Injured - 2014                  0
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    1
Population                                                                      0
Length: 63, dtype: int64

In [224]:
OT_INJ14P1P=df5["Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people"].median()

In [225]:
OT_INJ14P1P

1.767930230817815

In [226]:
df5["Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people"]=df5["Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people"].replace(np.nan,OT_INJ14P1P)

In [227]:
df5.isnull().sum()

Sl. No                                                                          0
States/UTs                                                                      0
Fault of Driver-Total No. of Road Accidents - 2014                              0
Fault of Driver-Total No. of Road Accidents - 2014 per 1L people                0
Fault of Driver-Number of Persons-Killed - 2014                                 0
                                                                               ..
Other causes/causes not known-Number of Persons-Killed - 2014                   0
Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people     0
Other causes/causes not known-Number of Persons-Injured - 2014                  0
Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people    0
Population                                                                      0
Length: 63, dtype: int64

In [228]:
df6 = pd.read_csv("typeOfVehicle.csv")

In [229]:
df6.describe()

,Two-Wheelers - Number of Road Accidents - Fatal - 2014,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,Auto-Rickshaws - Number of Road Accidents - Fatal - 2014,Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people,...,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Population
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,...,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,3.700000e+01
mean,1625.081081,2.364123,7223.459459,13.724032,1758.054054,2.555299,6889.297297,11.905215,300.162162,0.479302,...,4.216347,541.297297,0.699173,1719.729730,2.392607,624.540541,0.766393,1452.270270,1.867340,6.545391e+07
std,4928.288707,1.773977,22096.152669,22.256395,5331.111256,1.866243,21158.705580,13.388724,915.572817,0.642120,...,4.982607,1651.275178,0.890842,5260.215404,3.672172,1913.504690,0.942906,4445.142609,2.506844,1.981415e+08
min,0.000000,0.000000,1.000000,1.516740,0.000000,0.000000,1.000000,0.842633,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.447300e+04
25%,20.000000,1.084029,92.000000,3.849857,21.000000,1.247170,98.000000,2.729338,5.000000,0.121354,...,1.042209,0.000000,0.000000,1.000000,0.014567,0.000000,0.000000,0.000000,0.000000,1.458545e+06
50%,300.000000,1.894926,1305.000000,6.282428,318.000000,2.041255,1083.000000,7.200720,65.000000,0.323303,...,2.877733,35.000000,0.381065,242.000000,1.091195,35.000000,0.408284,141.000000,0.852905,2.535146e+07
75%,1342.000000,3.305915,4899.000000,13.812077,1399.000000,3.620044,4295.000000,13.991430,230.000000,0.517159,...,5.032021,491.000000,0.998438,1514.000000,2.627482,672.000000,1.286627,1165.000000,2.459424,6.043969e+07
max,30064.000000,8.912992,133634.000000,130.746737,32524.000000,9.187238,127452.000000,57.454518,5553.000000,3.350522,...,23.514305,10014.000000,3.955220,31815.000000,16.591878,11554.000000,4.002873,26867.000000,10.465846,1.210855e+09

In [230]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 59 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   Sl. No.                                                                               37 non-null     object
 1   States/UTs                                                                            37 non-null     object
 2   Two-Wheelers - Number of Road Accidents - Fatal - 2014                                37 non-null     int64
 3   Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people                  37 non-null     float64
 4   Two-Wheelers - Number of Road Accidents - Total - 2014                                37 non-null     int64
 5   Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people                  37 non-null     float64
 6   Two-Wheelers - Number of Persons - Killed - 2014                                      37 non-null     int64
 7   Two-Wheelers - Number of Persons - Killed - 2014 per 1L people                        37 non-null     float64
 8   Two-Wheelers - Number of Persons - Injured - 2014                                     37 non-null     int64
 9   Two-Wheelers - Number of Persons - Injured - 2014 per 1L people                       37 non-null     float64
 10  Auto-Rickshaws - Number of Road Accidents - Fatal - 2014                              37 non-null     int64
 11  Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people                37 non-null     float64
 12  Auto-Rickshaws - Number of Road Accidents - Total - 2014                              37 non-null     int64
 13  Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people                37 non-null     float64
 14  Auto-Rickshaws - Number of Persons - Killed - 2014                                    37 non-null     int64
 15  Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people                      37 non-null     float64
 16  Auto-Rickshaws - Number of Persons - Injured - 2014                                   37 non-null     int64
 17  Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people                     37 non-null     float64
 18  Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014                           37 non-null     int64
 19  Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people             37 non-null     float64
 20  Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014                           37 non-null     int64
 21  Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people             37 non-null     float64
 22  Cars, Jeeps,Taxis - Number of Persons - Killed - 2014                                 37 non-null     int64
 23  Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people                   37 non-null     float64
 24  Cars, Jeeps,Taxis - Number of Persons - Injured - 2014                                37 non-null     int64
 25  Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people                  37 non-null     float64
 26  Buses - Number of Road Accidents - Fatal - 2014                                       37 non-null     int64
 27  Buses - Number of Road Accidents - Fatal - 2014 per 1L people                         37 non-null     float64
 28  Buses - Number of Road Accidents - Total - 2014                                       37 non-null     int64
 29  Buses - Number of Road Accidents - Total - 2014 per 1L people                         37 non-null     float64
 30  Buses - Number of Persons - Killed - 2014                                             37 non-null     int64
 31  Buses - Number of Persons - Killed - 2014 per 1L people                               37 non-null     float64
 32  Buses - Number of Persons - Injured - 2014                                            37 non-null     int64
 33  Buses - Number of Persons - Injured - 2014 per 1L people                              37 non-null     float64
 34  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014                37 non-null     int64
 35  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people  37 non-null     float64
 36  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014                37 non-null     int64
 37  Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people  37 non-null     float64
 38  Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014                      37 non-null     int64
 39  Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people        37 non-null     float64
 40  Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014                     37 non-null     int64
 41  Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people       37 non-null     float64
 42  Other Motor Vehicles - Number of Road Accidents - Fatal - 2014                        37 non-null     int64
 43  Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people          37 non-null     float64
 44  Other Motor Vehicles - Number of Road Accidents - Total - 2014                        37 non-null     int64
 45  Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people          37 non-null     float64
 46  Other Motor Vehicles - Number of Persons - Killed - 2014                              37 non-null     int64
 47  Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people                37 non-null     float64
 48  Other Motor Vehicles - Number of Persons - Injured - 2014                             37 non-null     int64
 49  Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people               37 non-null     float64
 50  Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014                      37 non-null     int64
 51  Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people        37 non-null     float64
 52  Other Vehicles/Objects - Number of Road Accidents - Total - 2014                      37 non-null     int64
 53  Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people        37 non-null     float64
 54  Other Vehicles/Objects - Number of Persons - Killed - 2014                            37 non-null     int64
 55  Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people              37 non-null     float64
 56  Other Vehicles/Objects - Number of Persons - Injured - 2014                           37 non-null     int64
 57  Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people             37 non-null     float64
 58  Population                                                                            37 non-null     int64
dtypes: float64(28), int64(29), object(2)
memory usage: 17.2+ KB

In [231]:
df6.shape

(37, 59)

In [232]:
df6.sample(5)

,Sl. No.,States/UTs,Two-Wheelers - Number of Road Accidents - Fatal - 2014,Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people,Two-Wheelers - Number of Road Accidents - Total - 2014,Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people,Two-Wheelers - Number of Persons - Killed - 2014,Two-Wheelers - Number of Persons - Killed - 2014 per 1L people,Two-Wheelers - Number of Persons - Injured - 2014,Two-Wheelers - Number of Persons - Injured - 2014 per 1L people,...,Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014,Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people,Other Vehicles/Objects - Number of Road Accidents - Total - 2014,Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Killed - 2014,Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people,Other Vehicles/Objects - Number of Persons - Injured - 2014,Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people,Population
22,23,Sikkim,5,0.818898,31,5.077165,5,0.818898,30,4.913385,...,15.722833,1,0.163780,1,0.163780,1,0.163780,0,0.000000,610577
2,3,Assam,489,1.567028,1508,4.832470,537,1.720846,1342,4.300513,...,2.868077,73,0.233933,249,0.797934,93,0.298024,218,0.698593,31205576
17,18,Mizoram,15,1.367109,32,2.916499,16,1.458249,27,2.460796,...,5.468435,0,0.000000,0,0.000000,0,0.000000,0,0.000000,1097206
7,8,Haryana,300,1.183364,1131,4.461281,318,1.254366,1370,5.404028,...,5.617033,687,2.709903,1644,6.484833,708,2.792738,570,2.248391,25351462
13,14,Madhya Pradesh,2024,2.786850,19688,27.108447,2255,3.104914,18754,25.822420,...,6.157506,147,0.202405,781,1.075360,63,0.086745,598,0.823387,72626809

In [233]:
df6.isnull().sum()

Sl. No.                                                                                 0
States/UTs                                                                              0
Two-Wheelers - Number of Road Accidents - Fatal - 2014                                  0
Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people                    0
Two-Wheelers - Number of Road Accidents - Total - 2014                                  0
Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people                    0
Two-Wheelers - Number of Persons - Killed - 2014                                        0
Two-Wheelers - Number of Persons - Killed - 2014 per 1L people                          0
Two-Wheelers - Number of Persons - Injured - 2014                                       0
Two-Wheelers - Number of Persons - Injured - 2014 per 1L people                         0
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014                                0
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people                  0
Auto-Rickshaws - Number of Road Accidents - Total - 2014                                0
Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people                  0
Auto-Rickshaws - Number of Persons - Killed - 2014                                      0
Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people                        0
Auto-Rickshaws - Number of Persons - Injured - 2014                                     0
Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people                       0
Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014                             0
Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people               0
Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014                             0
Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people               0
Cars, Jeeps,Taxis - Number of Persons - Killed - 2014                                   0
Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people                     0
Cars, Jeeps,Taxis - Number of Persons - Injured - 2014                                  0
Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people                    0
Buses - Number of Road Accidents - Fatal - 2014                                         0
Buses - Number of Road Accidents - Fatal - 2014 per 1L people                           0
Buses - Number of Road Accidents - Total - 2014                                         0
Buses - Number of Road Accidents - Total - 2014 per 1L people                           0
Buses - Number of Persons - Killed - 2014                                               0
Buses - Number of Persons - Killed - 2014 per 1L people                                 0
Buses - Number of Persons - Injured - 2014                                              0
Buses - Number of Persons - Injured - 2014 per 1L people                                0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014                  0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people    0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014                  0
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people    0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014                        0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people          0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014                       0
Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people         0
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014                          0
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people            0
Other Motor Vehicles - Number of Road Accidents - Total - 2014                          0
Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people            0
Other Motor Vehicles - Number of Persons - Killed - 2014                                0
Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people                  0
Other Motor Vehicles - Number of Persons - Injured - 2014                               0
Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people                 0
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014                        0
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people          0
Other Vehicles/Objects - Number of Road Accidents - Total - 2014                        0
Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people          0
Other Vehicles/Objects - Number of Persons - Killed - 2014                              0
Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people                0
Other Vehicles/Objects - Number of Persons - Injured - 2014                             0
Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people               0
Population                                                                              0
dtype: int64

In [234]:
df6.dtypes

Sl. No.                                                                                  object
States/UTs                                                                               object
Two-Wheelers - Number of Road Accidents - Fatal - 2014                                    int64
Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people                    float64
Two-Wheelers - Number of Road Accidents - Total - 2014                                    int64
Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people                    float64
Two-Wheelers - Number of Persons - Killed - 2014                                          int64
Two-Wheelers - Number of Persons - Killed - 2014 per 1L people                          float64
Two-Wheelers - Number of Persons - Injured - 2014                                         int64
Two-Wheelers - Number of Persons - Injured - 2014 per 1L people                         float64
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014                                  int64
Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people                  float64
Auto-Rickshaws - Number of Road Accidents - Total - 2014                                  int64
Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people                  float64
Auto-Rickshaws - Number of Persons - Killed - 2014                                        int64
Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people                        float64
Auto-Rickshaws - Number of Persons - Injured - 2014                                       int64
Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people                       float64
Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014                               int64
Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people               float64
Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014                               int64
Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people               float64
Cars, Jeeps,Taxis - Number of Persons - Killed - 2014                                     int64
Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people                     float64
Cars, Jeeps,Taxis - Number of Persons - Injured - 2014                                    int64
Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people                    float64
Buses - Number of Road Accidents - Fatal - 2014                                           int64
Buses - Number of Road Accidents - Fatal - 2014 per 1L people                           float64
Buses - Number of Road Accidents - Total - 2014                                           int64
Buses - Number of Road Accidents - Total - 2014 per 1L people                           float64
Buses - Number of Persons - Killed - 2014                                                 int64
Buses - Number of Persons - Killed - 2014 per 1L people                                 float64
Buses - Number of Persons - Injured - 2014                                                int64
Buses - Number of Persons - Injured - 2014 per 1L people                                float64
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014                    int64
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people    float64
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014                    int64
Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people    float64
Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014                          int64
Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people          float64
Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014                         int64
Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people         float64
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014                            int64
Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people            float64
Other Motor Vehicles - Number of Road Accidents - Total - 2014                            int64
Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people            float64
Other Motor Vehicles - Number of Persons - Killed - 2014                                  int64
Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people                  float64
Other Motor Vehicles - Number of Persons - Injured - 2014                                 int64
Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people                 float64
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014                          int64
Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people          float64
Other Vehicles/Objects - Number of Road Accidents - Total - 2014                          int64
Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people          float64
Other Vehicles/Objects - Number of Persons - Killed - 2014                                int64
Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people                float64
Other Vehicles/Objects - Number of Persons - Injured - 2014                               int64
Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people               float64
Population                                                                                int64
dtype: object

In [235]:
df7 = pd.read_excel("timeOfOccurence.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [236]:
df7.describe()

,06-900hrs - Day - 2014,09-1200hrs - Day - 2014,12-1500hrs - Day - 2014,15-1800hrs - Day - 2014,18-2100hrs - Night - 2014,21-2400hrs - Night - 2014,00-300hrs - Night - 2014,03-600hrs - Night - 2014,Total Accidents - 2014,06-900hrs - (Day) - 2016,09-1200hrs - (Day) - 2016,12-1500hrs - (Day) - 2016,15-1800hrs - (Day) - 2016,18-2100hrs - (Night) - 2016,21-2400hrs - (Night) - 2016,00-300hrs - (Night) - 2016,03-600hrs - (Night) - 2016,Total Accidents - 2016
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,2889.189189,4223.621622,4128.864865,4564.108108,4500.216216,2841.621622,1577.243243,1729.189189,26454.054054,2947.135135,4095.729730,3966.486486,4639.675676,4570.540541,2755.135135,1404.108108,1602.378378,25981.189189
std,8758.738693,12824.763221,12549.384886,13865.437808,13707.662426,8630.910385,4791.424205,5240.446333,80289.994996,8945.790994,12420.770189,12036.136355,14070.086064,13885.409544,8376.570603,4265.829370,4876.573281,78796.721607
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,43.000000,82.000000,79.000000,97.000000,79.000000,63.000000,19.000000,15.000000,542.000000,50.000000,74.000000,70.000000,82.000000,103.000000,57.000000,19.000000,15.000000,538.000000
50%,879.000000,1072.000000,1092.000000,1162.000000,979.000000,485.000000,308.000000,495.000000,6391.000000,766.000000,923.000000,995.000000,1086.000000,1073.000000,510.000000,378.000000,437.000000,6952.000000
75%,2548.000000,3448.000000,3491.000000,3606.000000,3987.000000,2545.000000,1364.000000,1216.000000,23712.000000,2357.000000,3412.000000,3347.000000,4182.000000,4106.000000,2455.000000,1005.000000,1118.000000,22811.000000
max,53450.000000,78137.000000,76384.000000,84436.000000,83254.000000,52570.000000,29179.000000,31990.000000,489400.000000,54522.000000,75771.000000,73380.000000,85834.000000,84555.000000,50970.000000,25976.000000,29644.000000,480652.000000

In [237]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   S. No.                       37 non-null     object
 1   States/Uts                   37 non-null     object
 2   06-900hrs - Day - 2014       37 non-null     int64
 3   09-1200hrs - Day - 2014      37 non-null     int64
 4   12-1500hrs - Day - 2014      37 non-null     int64
 5   15-1800hrs - Day - 2014      37 non-null     int64
 6   18-2100hrs - Night - 2014    37 non-null     int64
 7   21-2400hrs - Night - 2014    37 non-null     int64
 8   00-300hrs - Night - 2014     37 non-null     int64
 9   03-600hrs - Night - 2014     37 non-null     int64
 10  Total Accidents - 2014       37 non-null     int64
 11  06-900hrs - (Day) - 2016     37 non-null     int64
 12  09-1200hrs - (Day) - 2016    37 non-null     int64
 13  12-1500hrs - (Day) - 2016    37 non-null     int64
 14  15-1800hrs - (Day) - 2016    37 non-null     int64
 15  18-2100hrs - (Night) - 2016  37 non-null     int64
 16  21-2400hrs - (Night) - 2016  37 non-null     int64
 17  00-300hrs - (Night) - 2016   37 non-null     int64
 18  03-600hrs - (Night) - 2016   37 non-null     int64
 19  Total Accidents - 2016       37 non-null     int64
dtypes: int64(18), object(2)
memory usage: 5.9+ KB

In [238]:
df7.shape

(37, 20)

In [239]:
df7.sample(5)

,S. No.,States/Uts,06-900hrs - Day - 2014,09-1200hrs - Day - 2014,12-1500hrs - Day - 2014,15-1800hrs - Day - 2014,18-2100hrs - Night - 2014,21-2400hrs - Night - 2014,00-300hrs - Night - 2014,03-600hrs - Night - 2014,Total Accidents - 2014,06-900hrs - (Day) - 2016,09-1200hrs - (Day) - 2016,12-1500hrs - (Day) - 2016,15-1800hrs - (Day) - 2016,18-2100hrs - (Night) - 2016,21-2400hrs - (Night) - 2016,00-300hrs - (Night) - 2016,03-600hrs - (Night) - 2016,Total Accidents - 2016
1,2,Arunachal Pradesh,43,30,28,20,16,23,19,26,205,50,37,33,38,25,20,19,27,249
14,15,Maharashtra,5199,9247,9926,10551,10656,7446,4762,3840,61627,3802,5611,5768,6520,6813,4939,3394,3031,39878
10,11,Jharkhand,789,988,713,892,699,370,236,514,5201,676,665,655,809,671,472,440,544,4932
12,13,Kerala,3484,6979,5922,8253,7171,2919,617,937,36282,4110,7769,6509,8850,7188,3112,764,1118,39420
3,4,Bihar,1433,1661,1484,1485,1092,823,677,901,9556,1169,1431,1268,1244,1073,689,466,882,8222

In [240]:
df7.isnull().sum()

S. No.                         0
States/Uts                     0
06-900hrs - Day - 2014         0
09-1200hrs - Day - 2014        0
12-1500hrs - Day - 2014        0
15-1800hrs - Day - 2014        0
18-2100hrs - Night - 2014      0
21-2400hrs - Night - 2014      0
00-300hrs - Night - 2014       0
03-600hrs - Night - 2014       0
Total Accidents - 2014         0
06-900hrs - (Day) - 2016       0
09-1200hrs - (Day) - 2016      0
12-1500hrs - (Day) - 2016      0
15-1800hrs - (Day) - 2016      0
18-2100hrs - (Night) - 2016    0
21-2400hrs - (Night) - 2016    0
00-300hrs - (Night) - 2016     0
03-600hrs - (Night) - 2016     0
Total Accidents - 2016         0
dtype: int64

In [241]:
df7.dtypes

S. No.                         object
States/Uts                     object
06-900hrs - Day - 2014          int64
09-1200hrs - Day - 2014         int64
12-1500hrs - Day - 2014         int64
15-1800hrs - Day - 2014         int64
18-2100hrs - Night - 2014       int64
21-2400hrs - Night - 2014       int64
00-300hrs - Night - 2014        int64
03-600hrs - Night - 2014        int64
Total Accidents - 2014          int64
06-900hrs - (Day) - 2016        int64
09-1200hrs - (Day) - 2016       int64
12-1500hrs - (Day) - 2016       int64
15-1800hrs - (Day) - 2016       int64
18-2100hrs - (Night) - 2016     int64
21-2400hrs - (Night) - 2016     int64
00-300hrs - (Night) - 2016      int64
03-600hrs - (Night) - 2016      int64
Total Accidents - 2016          int64
dtype: object

In [250]:
# Task 1: Percentage of road accidents during all the years

# Sum the total number of accidents for each year (2013 to 2016)
total_accidents_per_year = df.iloc[:, 2:6].sum()

# Calculated the overall total accidents across all years
total_accidents_all_years = total_accidents_per_year.sum()

# Calculated the percentage of accidents for each year
accident_percentage_per_year = (total_accidents_per_year / total_accidents_all_years) * 100

# Display the percentage of accidents per year
accident_percentage_per_year

State/UT-Wise Total Number of Road Accidents during - 2013    24.968615
State/UT-Wise Total Number of Road Accidents during - 2014    24.954797
State/UT-Wise Total Number of Road Accidents during - 2015    25.567857
State/UT-Wise Total Number of Road Accidents during - 2016    24.508731
dtype: float64

In [251]:
# Task 2: Mean Accidents per 1L population

# Columns for accidents per 1 lakh populatin per year 

# Extracted accidents per 10,000 vehicles for each year
accidents_per_1L_population_2013 = df['Total Number of Accidents Per Lakh Population - 2013']
accidents_per_1L_population_2014 = df['Total Number of Accidents Per Lakh Population - 2014']
accidents_per_1L_population_2015 = df['Total Number of Accidents Per Lakh Population - 2015']
accidents_per_1L_population_2016 = df['Total Number of Accidents Per Lakh Population - 2016']

# Calculated the mean accidents per 1 lakh populatin for each year
mean_accidents_2013 = accidents_per_1L_population_2013.mean()
mean_accidents_2014 = accidents_per_1L_population_2014.mean()
mean_accidents_2015 = accidents_per_1L_population_2015.mean()
mean_accidents_2016 = accidents_per_1L_population_2016.mean()

# Display the results
print(f"Mean accidents per 1L population in 2013: {mean_accidents_2013}")
print(f"Mean accidents per 1L population in 2014: {mean_accidents_2014}")
print(f"Mean accidents per 1L population in 2015: {mean_accidents_2015}")
print(f"Mean accidents per 1L population in 2016: {mean_accidents_2016}")

Mean accidents per 1L population in 2013: 41.59594594594594
Mean accidents per 1L population in 2014: 39.575675675675676
Mean accidents per 1L population in 2015: 40.45810810810811
Mean accidents per 1L population in 2016: 39.28108108108108

In [253]:
# Task 3: Highest and least number of accident states

# Filter out the row where the 'States/UTs' column has "Total"
df = df[df['States/UTs'] != 'Total']

# Summing the total number of accidents for each state from 2013 to 2016
df['Total_Accidents'] = df.iloc[:, 2:6].sum(axis=1)

# Find the state with the highest number of accidents
highest_accident_state = df.loc[df['Total_Accidents'].idxmax(), 'States/UTs']
highest_accident_value = df['Total_Accidents'].max()

# Find the state with the least number of accidents
lowest_accident_state = df.loc[df['Total_Accidents'].idxmin(), 'States/UTs']
lowest_accident_value = df['Total_Accidents'].min()

# Display the results
print(f"The state with the highest number of accidents is {highest_accident_state} with {highest_accident_value} accidents.")
print(f"The state with the least number of accidents is {lowest_accident_state} with {lowest_accident_value} accidents.")

The state with the highest number of accidents is Tamil Nadu with 273978.0 accidents.
The state with the least number of accidents is Lakshadweep with 6.0 accidents.

In [254]:
# Task 4: Offenders and victims who died according to gender, as well as the total deaths

# Summing up the total number of male, female, and transgender deaths for offenders (drivers/pedestrians)
total_offender_male_deaths = df1['Offenders (Driver/Pedestrian) Died_Male'].sum()
total_offender_female_deaths = df1['Offenders (Driver/Pedestrian) Died_Female'].sum()
total_offender_transgender_deaths = df1['Offenders (Driver/Pedestrian) Died_Transgender'].sum()
total_offender_deaths = df1['Offenders (Driver/Pedestrian) Died_Total'].sum()

# Summing up the total number of male, female, and transgender deaths for victims
total_victim_male_deaths = df1['Victims Died_Male'].sum()
total_victim_female_deaths = df1['Victims Died_Female'].sum()
total_victim_transgender_deaths = df1['Victims Died_Transgender'].sum()
total_victim_deaths = df1['Victims Died_Total'].sum()

# Display the results for offenders
print(f"Total male offenders deaths: {total_offender_male_deaths}")
print(f"Total female offenders deaths: {total_offender_female_deaths}")
print(f"Total transgender offenders deaths: {total_offender_transgender_deaths}")
print(f"Total offender deaths (male + female + transgender): {total_offender_deaths}")

# Display the results for victims
print(f"Total male victims deaths: {total_victim_male_deaths}")
print(f"Total female victims deaths: {total_victim_female_deaths}")
print(f"Total transgender victims deaths: {total_victim_transgender_deaths}")
print(f"Total victim deaths (male + female + transgender): {total_victim_deaths}")

Total male offenders deaths: 363048
Total female offenders deaths: 31338
Total transgender offenders deaths: 0
Total offender deaths (male + female + transgender): 394386
Total male victims deaths: 1018575
Total female victims deaths: 199995
Total transgender victims deaths: 195
Total victim deaths (male + female + transgender): 1218765

In [255]:
# Task 5: Percentage of deaths occurring due to non-wearing of helmets between males and females

# Summing up the total number of male and female deaths due to non-wearing of helmets
total_male_helmet_deaths = df2['Non-wearing of Helmet - Male'].sum()
total_female_helmet_deaths = df2['Non-wearing of Helmet - Female'].sum()

# Calculating the total deaths due to non-wearing of helmets
total_helmet_deaths = df2['Non-wearing of Helmet - Total'].sum()

# Calculating the percentage of deaths for each gender
male_helmet_death_percentage = (total_male_helmet_deaths / total_helmet_deaths) * 100
female_helmet_death_percentage = (total_female_helmet_deaths / total_helmet_deaths) * 100

# Display the results
print(f"Percentage of male deaths due to non-wearing of helmets: {male_helmet_death_percentage:.2f}%")
print(f"Percentage of female deaths due to non-wearing of helmets: {female_helmet_death_percentage:.2f}%")

Percentage of male deaths due to non-wearing of helmets: 85.01%
Percentage of female deaths due to non-wearing of helmets: 14.99%

In [256]:
# Task 6: Number of accidents happening per state from 2003 to 2016

# Summing the total number of accidents per state from 2003 to 2016
# The columns from 2003 to 2016 are from index 1 to 14
df3['Total_Accidents_2003_2016'] = df3.iloc[:, 1:15].sum(axis=1)

# Display the number of accidents per state
accidents_per_state = df3[['States/Uts', 'Total_Accidents_2003_2016']]

# Display the result
print(accidents_per_state)

                   States/Uts  Total_Accidents_2003_2016
0              Andhra Pradesh                   152359.0
1           Arunachal Pradesh                     1309.0
2                       Assam                    25051.0
3                       Bihar                    50328.0
4                Chhattisgarh                    37655.0
5                         Goa                     3932.0
6                     Gujarat                    86631.0
7                     Haryana                    54286.0
8            Himachal Pradesh                     9790.0
9             Jammu & Kashmir                    10469.0
10                  Jharkhand                    29837.0
11                  Karnataka                   111292.0
12                     Kerala                    49824.0
13             Madhya Pradesh                    88699.0
14                Maharashtra                   147503.0
15                    Manipur                     1642.0
16                  Meghalaya                     1799.0
17                    Mizoram                      831.0
18                   Nagaland                      595.0
19                     Odisha                    42294.0
20                     Punjab                    48074.0
21                  Rajasthan                   106646.0
22                     Sikkim                      623.0
23                 Tamil Nadu                   174555.0
24                  Telangana                    38784.5
25                    Tripura                     2688.0
26                Uttarakhand                     9749.0
27              Uttar Pradesh                   166668.0
28                West Bengal                    62465.0
29  Andaman & Nicobar Islands                      292.0
30                 Chandigarh                     1890.0
31       Dadra & Nagar Haveli                      688.0
32                Daman & Diu                      381.0
33                      Delhi                    26314.0
34                Lakshadweep                     2014.0
35                 Puducherry                     2918.0
36                  All India                  1529582.0

In [258]:
# Task 7: Number of accidents for 1, 2, 3, 4 lanes per 1 lakh population of the respective state


# Selected the relevant columns for accidents per 1L people
accidents_per_1L_lanes = df4[['State/UT', 
                              'Single Lane - Accident - 2014 per 1L people', 
                              'Two Lanes - Accident - 2014 per 1L people', 
                              '3 Lanes or more w.o Median - Accident - 2014 per 1L people', 
                              '4 Lanes with Median - Accident - 2014 per 1L people']]

# Display the result
print(accidents_per_1L_lanes)

                     State/UT  Single Lane - Accident - 2014 per 1L people  \
0              Andhra Pradesh                                    16.473750
1           Arunachal Pradesh                                     6.504173
2                       Assam                                    12.459312
3                       Bihar                                     3.584073
4                Chhattisgarh                                    31.164370
5                         Goa                                   172.980607
6                     Gujarat                                    18.163560
7                     Haryana                                    16.133192
8            Himachal Pradesh                                    17.233337
9             Jammu & Kashmir                                    29.988912
10                  Jharkhand                                     7.423882
11                  Karnataka                                    43.320847
12                     Kerala                                    21.972061
13             Madhya Pradesh                                    39.243084
14                Maharashtra                                    20.676430
15                    Manipur                                    14.811993
16                  Meghalaya                                    10.381244
17                    Mizoram                                     5.195014
18                   Nagaland                                    15.415703
19                     Orissa                                    12.719713
20                     Punjab                                    10.561094
21                  Rajasthan                                    17.322058
22                     Sikkim                                    33.247240
23                 Tamil Nadu                                    28.412812
24                  Telangana                                    19.696244
25                    Tripura                                    12.575134
26                Uttarakhand                                     7.356519
27              Uttar Pradesh                                     7.484523
28                West Bengal                                     8.385545
29  Andaman & Nicobar Islands                                    26.012859
30                 Chandigarh                                    12.411767
31       Dadra & Nagar Haveli                                     6.109820
32                Daman & Diu                                     5.344362
33                      Delhi                                    15.774448
34                Lakshadweep                                     1.551037
35                 Puducherry                                    42.068892
36                     Total                                     17.155234

    Two Lanes - Accident - 2014 per 1L people  \
0                                   19.704009
1                                    8.310888
2                                    7.793479
3                                    3.992336
4                                   18.383103
5                                  116.965880
6                                   12.367700
7                                   13.490346
8                                   27.314038
9                                   15.429020
10                                   6.841854
11                                  22.676050
12                                  82.053972
13                                  30.055017
14                                  20.323146
15                                  10.925158
16                                   7.887049
17                                   6.835544
18                                   0.000000
19                                   7.416457
20                                   7.666705
21                                  11.826674
22                                   0.000000
23                                  39.203277
24                                  29.775339
25                                   5.498219
26                                   6.622850
27                                   4.486710
28                                   4.736179
29                                  30.216958
30                                   7.105974
31                                  19.202290
32                                  10.688724
33                                  11.375916
34                                   0.000000
35                                  45.434403
36                                  15.954677

    3 Lanes or more w.o Median - Accident - 2014 per 1L people  \
0                                            2.266715
1                                            0.000000
2                                            0.179455
3                                            0.726229
4                                            0.000000
5                                            0.000000
6                                            1.062216
7                                            2.847962
8                                            0.000000
9                                            0.893049
10                                           0.097005
11                                           2.298049
12                                           2.640239
13                                           0.319441
14                                           5.968445
15                                           0.210099
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           0.295419
20                                           1.841884
21                                           0.370541
22                                           0.000000
23                                           7.469469
24                                           1.348633
25                                           1.415383
26                                           0.000000
27                                           1.322741
28                                           0.176388
29                                           0.262756
30                                           5.590033
31                                           0.000000
32                                           0.000000
33                                           0.279088
34                                           0.000000
35                                           0.000000
36                                           1.847290

    4 Lanes with Median - Accident - 2014 per 1L people
0                                            8.187267
1                                            0.000000
2                                            2.461099
3                                            0.877046
4                                            4.556629
5                                            0.000000
6                                            7.639020
7                                            9.640470
8                                            0.000000
9                                            0.422604
10                                           1.355033
11                                           3.253933
12                                           1.942761
13                                           4.008162
14                                           7.872794
15                                           0.070033
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           2.553949
20                                           2.966478
21                                           6.408607
22                                           0.000000
23                                          18.126872
24                                          11.427728
25                                           0.000000
26                                           0.000000
27                                           2.237600
28                                           0.807440
29                                           0.788268
30                                           9.853617
31                                           0.000000
32                                           0.000000
33                                           1.438763
34                                           0.000000
35                                           1.522493
36                                           4.747059

In [259]:
# Task 8: Number of people injured for 1, 2, 3, 4 lanes per 1 lakh population of the respective state

# Selected the relevant columns for injuries per 1L people
injuries_per_1L_lanes = df4[['State/UT', 
                             'Single Lane - Injured - 2014 per 1L people', 
                             'Two Lanes - Injured - 2014 per 1L people', 
                             '3 Lanes or more w.o Median - Injured - 2014 per 1L people', 
                             '4 Lanes with Median - Injured - 2014 per 1L people']]

# Display the number of people injured per 1L population for each state and lane type
print(injuries_per_1L_lanes)

                     State/UT  Single Lane - Injured - 2014 per 1L people  \
0              Andhra Pradesh                                   25.836350
1           Arunachal Pradesh                                   10.984826
2                       Assam                                   10.238555
3                       Bihar                                    2.377534
4                Chhattisgarh                                   30.385359
5                         Goa                                   74.800572
6                     Gujarat                                   17.658925
7                     Haryana                                   13.746742
8            Himachal Pradesh                                   33.825705
9             Jammu & Kashmir                                   32.923216
10                  Jharkhand                                    6.074912
11                  Karnataka                                   58.200879
12                     Kerala                                   23.648403
13             Madhya Pradesh                                   40.317068
14                Maharashtra                                   15.237465
15                    Manipur                                   26.682597
16                  Meghalaya                                    4.246873
17                    Mizoram                                   11.301433
18                   Nagaland                                   11.624957
19                     Orissa                                   14.370726
20                     Punjab                                    7.237774
21                  Rajasthan                                   20.115703
22                     Sikkim                                   57.650386
23                 Tamil Nadu                                   36.202460
24                  Telangana                                   21.252598
25                    Tripura                                   20.740806
26                Uttarakhand                                    8.179418
27              Uttar Pradesh                                    5.285459
28                West Bengal                                    8.106173
29  Andaman & Nicobar Islands                                   38.887911
30                 Chandigarh                                   13.264484
31       Dadra & Nagar Haveli                                    8.146426
32                Daman & Diu                                    4.522152
33                      Delhi                                   16.448195
34                Lakshadweep                                    1.551037
35                 Puducherry                                   31.491571
36                     Total                                    17.950622

    Two Lanes - Injured - 2014 per 1L people  \
0                                  19.312868
1                                  11.273900
2                                   8.043434
3                                   2.970237
4                                  18.246091
5                                  54.026444
6                                  11.748902
7                                  11.340569
8                                  47.402603
9                                  29.135731
10                                  5.741458
11                                 30.400049
12                                 94.285286
13                                 30.981672
14                                 13.104416
15                                 18.208596
16                                  6.235488
17                                 10.025465
18                                  0.000000
19                                  8.810170
20                                  4.548840
21                                 12.839097
22                                  0.000000
23                                 45.683100
24                                 32.773335
25                                  8.546736
26                                  6.999599
27                                  3.276074
28                                  4.336293
29                                 33.895544
30                                  7.011227
31                                 19.784178
32                                 15.621981
33                                 12.293999
34                                  0.000000
35                                 74.522037
36                                 16.374628

    3 Lanes or more w.o Median - Injured - 2014 per 1L people  \
0                                            2.287703
1                                            0.000000
2                                            0.134591
3                                            0.465901
4                                            0.000000
5                                            0.000000
6                                            0.870289
7                                            1.538373
8                                            0.000000
9                                            1.610678
10                                           0.072753
11                                           1.468198
12                                           3.017417
13                                           0.289149
14                                           2.621595
15                                           0.385182
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           0.514602
20                                           1.257960
21                                           0.370541
22                                           0.000000
23                                           4.009867
24                                           1.159514
25                                           4.055617
26                                           0.000000
27                                           1.019957
28                                           0.151190
29                                           0.262756
30                                           3.316121
31                                           0.000000
32                                           0.000000
33                                          90.000000
34                                           0.000000
35                                           0.000000
36                                           1.188169

    4 Lanes with Median - Injured - 2014 per 1L people
0                                            9.671698
1                                            0.000000
2                                            2.409826
3                                            0.564844
4                                            2.873338
5                                            0.000000
6                                            6.937494
7                                            8.654333
8                                            0.000000
9                                            0.462472
10                                           1.315625
11                                           2.951127
12                                           2.068487
13                                           4.602983
14                                           5.036737
15                                           0.070033
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           2.718335
20                                           1.831070
21                                           6.723713
22                                           0.000000
23                                          21.835965
24                                          11.892774
25                                           0.000000
26                                           0.000000
27                                           1.597499
28                                           0.572987
29                                           1.313781
30                                           8.148183
31                                           0.000000
32                                           0.000000
33                                         471.000000
34                                           0.000000
35                                           0.000000
36                                           4.556698

In [260]:
# Task 9: Number of people killed for 1, 2, 3, 4 lanes per 1 lakh population of the respective state

# Selected the relevant columns for people killed per 1L people
killed_per_1L_lanes = df4[['State/UT', 
                           'Single Lane - Killed - 2014 per 1L people', 
                           'Two Lanes - Killed - 2014 per 1L people', 
                           '3 Lanes or more w.o Median - Killed - 2014 per 1L people', 
                           '4 Lanes with Median - Killed - 2014 per 1L people']]

# Display the number of people killed per 1L population for each state and lane type
print(killed_per_1L_lanes)

                     State/UT  Single Lane - Killed - 2014 per 1L people  \
0              Andhra Pradesh                                   5.643891
1           Arunachal Pradesh                                   4.336115
2                       Assam                                   3.899944
3                       Bihar                                   1.743525
4                Chhattisgarh                                   8.784430
5                         Goa                                  12.820996
6                     Gujarat                                   5.130734
7                     Haryana                                   6.173214
8            Himachal Pradesh                                   7.691633
9             Jammu & Kashmir                                   4.369562
10                  Jharkhand                                   3.185994
11                  Karnataka                                   9.499913
12                     Kerala                                   3.403574
13             Madhya Pradesh                                   6.090038
14                Maharashtra                                   4.727058
15                    Manipur                                   3.116471
16                  Meghalaya                                   2.730132
17                    Mizoram                                   4.101326
18                   Nagaland                                   4.094006
19                     Orissa                                   4.810096
20                     Punjab                                   8.110055
21                  Rajasthan                                   7.345171
22                     Sikkim                                   9.662991
23                 Tamil Nadu                                   6.504772
24                  Telangana                                   6.439336
25                    Tripura                                   3.756209
26                Uttarakhand                                   4.501159
27              Uttar Pradesh                                   3.888649
28                West Bengal                                   3.810416
29  Andaman & Nicobar Islands                                   2.102049
30                 Chandigarh                                   4.358331
31       Dadra & Nagar Haveli                                   4.364157
32                Daman & Diu                                   2.055524
33                      Delhi                                   4.366860
34                Lakshadweep                                   0.000000
35                 Puducherry                                   3.445643
36                     Total                                    4.982925

    Two Lanes - Killed - 2014 per 1L people  \
0                                  5.712579
1                                  4.263847
2                                  3.316715
3                                  2.013459
4                                  5.965896
5                                  7.061832
6                                  4.415972
7                                  5.723536
8                                  9.774784
9                                  3.340961
10                                 3.577044
11                                 6.517687
12                                 8.196117
13                                 4.956847
14                                 4.204697
15                                 2.661256
16                                 2.022320
17                                 5.286154
18                                 0.000000
19                                 3.170994
20                                 5.738315
21                                 4.764514
22                                 0.000000
23                                 9.329559
24                                10.075995
25                                 1.197632
26                                 4.203725
27                                 2.372226
28                                 2.203205
29                                 3.941342
30                                 2.558151
31                                12.801527
32                                 4.111048
33                                 4.234272
34                                 0.000000
35                                 8.654172
36                                 4.379798

    3 Lanes or more w.o Median - Killed - 2014 per 1L people  \
0                                            0.755572
1                                            0.000000
2                                            0.080114
3                                            0.374642
4                                            0.000000
5                                            0.000000
6                                            0.410326
7                                            1.341146
8                                            0.000000
9                                            0.167447
10                                           0.060628
11                                           0.626889
12                                           0.245464
13                                           0.049568
14                                           0.690549
15                                           0.035017
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           0.102444
20                                           0.962393
21                                           0.204235
22                                           0.000000
23                                           0.806686
24                                           0.536353
25                                           0.163313
26                                           0.000000
27                                           0.718674
28                                           0.043823
29                                           0.000000
30                                           1.894926
31                                           0.000000
32                                           0.000000
33                                           0.070371
34                                           0.000000
35                                           0.000000
36                                           0.448031

    4 Lanes with Median - Killed - 2014 per 1L people
0                                            2.976494
1                                            0.000000
2                                            0.785116
3                                            0.587899
4                                            0.994316
5                                            0.000000
6                                            3.204848
7                                            4.445503
8                                            0.000000
9                                            0.031895
10                                           1.142835
11                                           0.463211
12                                           0.275399
13                                           0.702220
14                                           1.770867
15                                           0.070033
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           1.281739
20                                           1.845488
21                                           2.695904
22                                           0.000000
23                                           4.413210
24                                           4.359030
25                                           0.000000
26                                           0.000000
27                                           1.171599
28                                           0.379070
29                                           0.000000
30                                           3.600360
31                                           0.000000
32                                           0.000000
33                                           0.421140
34                                           0.000000
35                                           0.000000
36                                           1.586152

In [261]:
# Task 10: Number of accidents, people injured, and people killed on single lanes per 1 lakh population

# Selected the relevant columns for single lane accidents, injuries, and deaths per 1L people
single_lane_data = df4[['State/UT', 
                        'Single Lane - Accident - 2014 per 1L people', 
                        'Single Lane - Injured - 2014 per 1L people', 
                        'Single Lane - Killed - 2014 per 1L people']]

# Display the number of accidents, injuries, and people killed on single lanes per 1L population for each state
print(single_lane_data)

                     State/UT  Single Lane - Accident - 2014 per 1L people  \
0              Andhra Pradesh                                    16.473750
1           Arunachal Pradesh                                     6.504173
2                       Assam                                    12.459312
3                       Bihar                                     3.584073
4                Chhattisgarh                                    31.164370
5                         Goa                                   172.980607
6                     Gujarat                                    18.163560
7                     Haryana                                    16.133192
8            Himachal Pradesh                                    17.233337
9             Jammu & Kashmir                                    29.988912
10                  Jharkhand                                     7.423882
11                  Karnataka                                    43.320847
12                     Kerala                                    21.972061
13             Madhya Pradesh                                    39.243084
14                Maharashtra                                    20.676430
15                    Manipur                                    14.811993
16                  Meghalaya                                    10.381244
17                    Mizoram                                     5.195014
18                   Nagaland                                    15.415703
19                     Orissa                                    12.719713
20                     Punjab                                    10.561094
21                  Rajasthan                                    17.322058
22                     Sikkim                                    33.247240
23                 Tamil Nadu                                    28.412812
24                  Telangana                                    19.696244
25                    Tripura                                    12.575134
26                Uttarakhand                                     7.356519
27              Uttar Pradesh                                     7.484523
28                West Bengal                                     8.385545
29  Andaman & Nicobar Islands                                    26.012859
30                 Chandigarh                                    12.411767
31       Dadra & Nagar Haveli                                     6.109820
32                Daman & Diu                                     5.344362
33                      Delhi                                    15.774448
34                Lakshadweep                                     1.551037
35                 Puducherry                                    42.068892
36                     Total                                     17.155234

    Single Lane - Injured - 2014 per 1L people  \
0                                    25.836350
1                                    10.984826
2                                    10.238555
3                                     2.377534
4                                    30.385359
5                                    74.800572
6                                    17.658925
7                                    13.746742
8                                    33.825705
9                                    32.923216
10                                    6.074912
11                                   58.200879
12                                   23.648403
13                                   40.317068
14                                   15.237465
15                                   26.682597
16                                    4.246873
17                                   11.301433
18                                   11.624957
19                                   14.370726
20                                    7.237774
21                                   20.115703
22                                   57.650386
23                                   36.202460
24                                   21.252598
25                                   20.740806
26                                    8.179418
27                                    5.285459
28                                    8.106173
29                                   38.887911
30                                   13.264484
31                                    8.146426
32                                    4.522152
33                                   16.448195
34                                    1.551037
35                                   31.491571
36                                   17.950622

    Single Lane - Killed - 2014 per 1L people
0                                    5.643891
1                                    4.336115
2                                    3.899944
3                                    1.743525
4                                    8.784430
5                                   12.820996
6                                    5.130734
7                                    6.173214
8                                    7.691633
9                                    4.369562
10                                   3.185994
11                                   9.499913
12                                   3.403574
13                                   6.090038
14                                   4.727058
15                                   3.116471
16                                   2.730132
17                                   4.101326
18                                   4.094006
19                                   4.810096
20                                   8.110055
21                                   7.345171
22                                   9.662991
23                                   6.504772
24                                   6.439336
25                                   3.756209
26                                   4.501159
27                                   3.888649
28                                   3.810416
29                                   2.102049
30                                   4.358331
31                                   4.364157
32                                   2.055524
33                                   4.366860
34                                   0.000000
35                                   3.445643
36                                   4.982925

In [262]:
# Task 11: Number of accidents, people injured, and people killed on double lanes per 1 lakh population

# Selected the relevant columns for double lane accidents, injuries, and deaths per 1L people
double_lane_data = df4[['State/UT', 
                        'Two Lanes - Accident - 2014 per 1L people', 
                        'Two Lanes - Injured - 2014 per 1L people', 
                        'Two Lanes - Killed - 2014 per 1L people']]

# Display the number of accidents, injuries, and people killed on double lanes per 1L population for each state
print(double_lane_data)

                     State/UT  Two Lanes - Accident - 2014 per 1L people  \
0              Andhra Pradesh                                  19.704009
1           Arunachal Pradesh                                   8.310888
2                       Assam                                   7.793479
3                       Bihar                                   3.992336
4                Chhattisgarh                                  18.383103
5                         Goa                                 116.965880
6                     Gujarat                                  12.367700
7                     Haryana                                  13.490346
8            Himachal Pradesh                                  27.314038
9             Jammu & Kashmir                                  15.429020
10                  Jharkhand                                   6.841854
11                  Karnataka                                  22.676050
12                     Kerala                                  82.053972
13             Madhya Pradesh                                  30.055017
14                Maharashtra                                  20.323146
15                    Manipur                                  10.925158
16                  Meghalaya                                   7.887049
17                    Mizoram                                   6.835544
18                   Nagaland                                   0.000000
19                     Orissa                                   7.416457
20                     Punjab                                   7.666705
21                  Rajasthan                                  11.826674
22                     Sikkim                                   0.000000
23                 Tamil Nadu                                  39.203277
24                  Telangana                                  29.775339
25                    Tripura                                   5.498219
26                Uttarakhand                                   6.622850
27              Uttar Pradesh                                   4.486710
28                West Bengal                                   4.736179
29  Andaman & Nicobar Islands                                  30.216958
30                 Chandigarh                                   7.105974
31       Dadra & Nagar Haveli                                  19.202290
32                Daman & Diu                                  10.688724
33                      Delhi                                  11.375916
34                Lakshadweep                                   0.000000
35                 Puducherry                                  45.434403
36                     Total                                   15.954677

    Two Lanes - Injured - 2014 per 1L people  \
0                                  19.312868
1                                  11.273900
2                                   8.043434
3                                   2.970237
4                                  18.246091
5                                  54.026444
6                                  11.748902
7                                  11.340569
8                                  47.402603
9                                  29.135731
10                                  5.741458
11                                 30.400049
12                                 94.285286
13                                 30.981672
14                                 13.104416
15                                 18.208596
16                                  6.235488
17                                 10.025465
18                                  0.000000
19                                  8.810170
20                                  4.548840
21                                 12.839097
22                                  0.000000
23                                 45.683100
24                                 32.773335
25                                  8.546736
26                                  6.999599
27                                  3.276074
28                                  4.336293
29                                 33.895544
30                                  7.011227
31                                 19.784178
32                                 15.621981
33                                 12.293999
34                                  0.000000
35                                 74.522037
36                                 16.374628

    Two Lanes - Killed - 2014 per 1L people
0                                  5.712579
1                                  4.263847
2                                  3.316715
3                                  2.013459
4                                  5.965896
5                                  7.061832
6                                  4.415972
7                                  5.723536
8                                  9.774784
9                                  3.340961
10                                 3.577044
11                                 6.517687
12                                 8.196117
13                                 4.956847
14                                 4.204697
15                                 2.661256
16                                 2.022320
17                                 5.286154
18                                 0.000000
19                                 3.170994
20                                 5.738315
21                                 4.764514
22                                 0.000000
23                                 9.329559
24                                10.075995
25                                 1.197632
26                                 4.203725
27                                 2.372226
28                                 2.203205
29                                 3.941342
30                                 2.558151
31                                12.801527
32                                 4.111048
33                                 4.234272
34                                 0.000000
35                                 8.654172
36                                 4.379798

In [263]:
# Task 12: Number of accidents, people injured, and people killed on three lanes per 1 lakh population

# Selected the relevant columns for three-lane accidents, injuries, and deaths per 1L people
three_lane_data = df4[['State/UT', 
                       '3 Lanes or more w.o Median - Accident - 2014 per 1L people', 
                       '3 Lanes or more w.o Median - Injured - 2014 per 1L people', 
                       '3 Lanes or more w.o Median - Killed - 2014 per 1L people']]

# Display the number of accidents, injuries, and people killed on three lanes per 1L population for each state
print(three_lane_data)

                     State/UT  \
0              Andhra Pradesh
1           Arunachal Pradesh
2                       Assam
3                       Bihar
4                Chhattisgarh
5                         Goa
6                     Gujarat
7                     Haryana
8            Himachal Pradesh
9             Jammu & Kashmir
10                  Jharkhand
11                  Karnataka
12                     Kerala
13             Madhya Pradesh
14                Maharashtra
15                    Manipur
16                  Meghalaya
17                    Mizoram
18                   Nagaland
19                     Orissa
20                     Punjab
21                  Rajasthan
22                     Sikkim
23                 Tamil Nadu
24                  Telangana
25                    Tripura
26                Uttarakhand
27              Uttar Pradesh
28                West Bengal
29  Andaman & Nicobar Islands
30                 Chandigarh
31       Dadra & Nagar Haveli
32                Daman & Diu
33                      Delhi
34                Lakshadweep
35                 Puducherry
36                     Total

    3 Lanes or more w.o Median - Accident - 2014 per 1L people  \
0                                            2.266715
1                                            0.000000
2                                            0.179455
3                                            0.726229
4                                            0.000000
5                                            0.000000
6                                            1.062216
7                                            2.847962
8                                            0.000000
9                                            0.893049
10                                           0.097005
11                                           2.298049
12                                           2.640239
13                                           0.319441
14                                           5.968445
15                                           0.210099
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           0.295419
20                                           1.841884
21                                           0.370541
22                                           0.000000
23                                           7.469469
24                                           1.348633
25                                           1.415383
26                                           0.000000
27                                           1.322741
28                                           0.176388
29                                           0.262756
30                                           5.590033
31                                           0.000000
32                                           0.000000
33                                           0.279088
34                                           0.000000
35                                           0.000000
36                                           1.847290

    3 Lanes or more w.o Median - Injured - 2014 per 1L people  \
0                                            2.287703
1                                            0.000000
2                                            0.134591
3                                            0.465901
4                                            0.000000
5                                            0.000000
6                                            0.870289
7                                            1.538373
8                                            0.000000
9                                            1.610678
10                                           0.072753
11                                           1.468198
12                                           3.017417
13                                           0.289149
14                                           2.621595
15                                           0.385182
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           0.514602
20                                           1.257960
21                                           0.370541
22                                           0.000000
23                                           4.009867
24                                           1.159514
25                                           4.055617
26                                           0.000000
27                                           1.019957
28                                           0.151190
29                                           0.262756
30                                           3.316121
31                                           0.000000
32                                           0.000000
33                                          90.000000
34                                           0.000000
35                                           0.000000
36                                           1.188169

    3 Lanes or more w.o Median - Killed - 2014 per 1L people
0                                            0.755572
1                                            0.000000
2                                            0.080114
3                                            0.374642
4                                            0.000000
5                                            0.000000
6                                            0.410326
7                                            1.341146
8                                            0.000000
9                                            0.167447
10                                           0.060628
11                                           0.626889
12                                           0.245464
13                                           0.049568
14                                           0.690549
15                                           0.035017
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           0.102444
20                                           0.962393
21                                           0.204235
22                                           0.000000
23                                           0.806686
24                                           0.536353
25                                           0.163313
26                                           0.000000
27                                           0.718674
28                                           0.043823
29                                           0.000000
30                                           1.894926
31                                           0.000000
32                                           0.000000
33                                           0.070371
34                                           0.000000
35                                           0.000000
36                                           0.448031

In [264]:
# Task 13: Number of accidents, people injured, and people killed on four lanes per 1 lakh population

# Selected the relevant columns for four-lane accidents, injuries, and deaths per 1L people
four_lane_data = df4[['State/UT', 
                      '4 Lanes with Median - Accident - 2014 per 1L people', 
                      '4 Lanes with Median - Injured - 2014 per 1L people', 
                      '4 Lanes with Median - Killed - 2014 per 1L people']]

# Display the number of accidents, injuries, and people killed on four lanes per 1L population for each state
print(four_lane_data)

                     State/UT  \
0              Andhra Pradesh
1           Arunachal Pradesh
2                       Assam
3                       Bihar
4                Chhattisgarh
5                         Goa
6                     Gujarat
7                     Haryana
8            Himachal Pradesh
9             Jammu & Kashmir
10                  Jharkhand
11                  Karnataka
12                     Kerala
13             Madhya Pradesh
14                Maharashtra
15                    Manipur
16                  Meghalaya
17                    Mizoram
18                   Nagaland
19                     Orissa
20                     Punjab
21                  Rajasthan
22                     Sikkim
23                 Tamil Nadu
24                  Telangana
25                    Tripura
26                Uttarakhand
27              Uttar Pradesh
28                West Bengal
29  Andaman & Nicobar Islands
30                 Chandigarh
31       Dadra & Nagar Haveli
32                Daman & Diu
33                      Delhi
34                Lakshadweep
35                 Puducherry
36                     Total

    4 Lanes with Median - Accident - 2014 per 1L people  \
0                                            8.187267
1                                            0.000000
2                                            2.461099
3                                            0.877046
4                                            4.556629
5                                            0.000000
6                                            7.639020
7                                            9.640470
8                                            0.000000
9                                            0.422604
10                                           1.355033
11                                           3.253933
12                                           1.942761
13                                           4.008162
14                                           7.872794
15                                           0.070033
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           2.553949
20                                           2.966478
21                                           6.408607
22                                           0.000000
23                                          18.126872
24                                          11.427728
25                                           0.000000
26                                           0.000000
27                                           2.237600
28                                           0.807440
29                                           0.788268
30                                           9.853617
31                                           0.000000
32                                           0.000000
33                                           1.438763
34                                           0.000000
35                                           1.522493
36                                           4.747059

    4 Lanes with Median - Injured - 2014 per 1L people  \
0                                            9.671698
1                                            0.000000
2                                            2.409826
3                                            0.564844
4                                            2.873338
5                                            0.000000
6                                            6.937494
7                                            8.654333
8                                            0.000000
9                                            0.462472
10                                           1.315625
11                                           2.951127
12                                           2.068487
13                                           4.602983
14                                           5.036737
15                                           0.070033
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           2.718335
20                                           1.831070
21                                           6.723713
22                                           0.000000
23                                          21.835965
24                                          11.892774
25                                           0.000000
26                                           0.000000
27                                           1.597499
28                                           0.572987
29                                           1.313781
30                                           8.148183
31                                           0.000000
32                                           0.000000
33                                         471.000000
34                                           0.000000
35                                           0.000000
36                                           4.556698

    4 Lanes with Median - Killed - 2014 per 1L people
0                                            2.976494
1                                            0.000000
2                                            0.785116
3                                            0.587899
4                                            0.994316
5                                            0.000000
6                                            3.204848
7                                            4.445503
8                                            0.000000
9                                            0.031895
10                                           1.142835
11                                           0.463211
12                                           0.275399
13                                           0.702220
14                                           1.770867
15                                           0.070033
16                                           0.000000
17                                           0.000000
18                                           0.000000
19                                           1.281739
20                                           1.845488
21                                           2.695904
22                                           0.000000
23                                           4.413210
24                                           4.359030
25                                           0.000000
26                                           0.000000
27                                           1.171599
28                                           0.379070
29                                           0.000000
30                                           3.600360
31                                           0.000000
32                                           0.000000
33                                           0.421140
34                                           0.000000
35                                           0.000000
36                                           1.586152

In [265]:
# Task 14: Total number of injured, killed, and road accidents irrespective of lanes per 1 lakh population

# Summing accidents, injuries, and deaths across all lanes per 1L people
df4['Total_Accidents_per_1L'] = df4['Single Lane - Accident - 2014 per 1L people'] + \
                                df4['Two Lanes - Accident - 2014 per 1L people'] + \
                                df4['3 Lanes or more w.o Median - Accident - 2014 per 1L people'] + \
                                df4['4 Lanes with Median - Accident - 2014 per 1L people']

df4['Total_Injured_per_1L'] = df4['Single Lane - Injured - 2014 per 1L people'] + \
                              df4['Two Lanes - Injured - 2014 per 1L people'] + \
                              df4['3 Lanes or more w.o Median - Injured - 2014 per 1L people'] + \
                              df4['4 Lanes with Median - Injured - 2014 per 1L people']

df4['Total_Killed_per_1L'] = df4['Single Lane - Killed - 2014 per 1L people'] + \
                             df4['Two Lanes - Killed - 2014 per 1L people'] + \
                             df4['3 Lanes or more w.o Median - Killed - 2014 per 1L people'] + \
                             df4['4 Lanes with Median - Killed - 2014 per 1L people']

# Selected relevant columns to display total accidents, injuries, and deaths per 1L population
total_data_per_1L = df4[['State/UT', 'Total_Accidents_per_1L', 'Total_Injured_per_1L', 'Total_Killed_per_1L']]

# Display the result
print(total_data_per_1L)

                     State/UT  Total_Accidents_per_1L  Total_Injured_per_1L  \
0              Andhra Pradesh               46.631741             57.108619
1           Arunachal Pradesh               14.815061             22.258726
2                       Assam               22.893344             20.826406
3                       Bihar                9.179683              6.378516
4                Chhattisgarh               54.104102             51.504788
5                         Goa              289.946488            128.827016
6                     Gujarat               39.232496             37.215610
7                     Haryana               42.111970             35.280017
8            Himachal Pradesh               44.547375             81.228307
9             Jammu & Kashmir               46.733585             64.132097
10                  Jharkhand               15.717773             13.204748
11                  Karnataka               71.548879             93.020253
12                     Kerala              108.609034            123.019592
13             Madhya Pradesh               73.625705             76.190873
14                Maharashtra               54.840815             36.000214
15                    Manipur               26.017283             45.346408
16                  Meghalaya               18.268294             10.482360
17                    Mizoram               12.030558             21.326898
18                   Nagaland               15.415703             11.624957
19                     Orissa               22.985538             26.413833
20                     Punjab               23.036161             14.875643
21                  Rajasthan               35.927880             40.049053
22                     Sikkim               33.247240             57.650386
23                 Tamil Nadu               93.212430            107.731392
24                  Telangana               62.247945             67.078222
25                    Tripura               19.488736             33.343159
26                Uttarakhand               13.979369             15.179017
27              Uttar Pradesh               15.531573             11.178989
28                West Bengal               14.105552             13.166643
29  Andaman & Nicobar Islands               57.280842             74.359992
30                 Chandigarh               34.961391             31.740016
31       Dadra & Nagar Haveli               25.312110             27.930604
32                Daman & Diu               16.033086             20.144133
33                      Delhi               28.868214            589.742194
34                Lakshadweep                1.551037              1.551037
35                 Puducherry               89.025789            106.013608
36                     Total                39.704259             40.070117

    Total_Killed_per_1L
0             15.088536
1              8.599962
2              8.081889
3              4.719525
4             15.744642
5             19.882828
6             13.161880
7             17.683398
8             17.466417
9              7.909865
10             7.966501
11            17.107700
12            12.120555
13            11.798673
14            11.393171
15             5.882777
16             4.752453
17             9.387481
18             4.094006
19             9.365273
20            16.656251
21            15.009824
22             9.662991
23            21.054228
24            21.410714
25             5.117154
26             8.704884
27             8.151148
28             6.436514
29             6.043392
30            12.411767
31            17.165684
32             6.166571
33             9.092642
34             0.000000
35            12.099815
36            11.396906

In [266]:
# Task 15: Number of people killed for each different reason per 1 lakh population of that state

# Selected the relevant columns for the number of people killed per 1L population for each reason
killed_per_reason = df5[['States/UTs', 
                         'Fault of Driver-Number of Persons-Killed - 2014 per 1L people', 
                         'Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people',
                         'Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people', 
                         'Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people', 
                         'Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people', 
                         'Weather Condition-Number of Persons-Killed - 2014 per 1L people', 
                         'Fault of Passenger-Number of Persons-Killed - 2014 per 1L people', 
                         'Poor light-Number of Persons-Killed - 2014 per 1L people', 
                         'Falling of boulders-Number of Persons-Killed - 2014 per 1L people', 
                         'Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people']]

# Display the result
print(killed_per_reason)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Fault of Driver-Number of Persons-Killed - 2014 per 1L people  \
0                                           12.865705
1                                            1.373103
2                                            7.783865
3                                            2.541800
4                                            9.622161
5                                           16.934685
6                                           10.977885
7                                           12.567323
8                                           16.723475
9                                            4.473220
10                                           4.104506
11                                          13.925785
12                                          12.120555
13                                           9.280320
14                                           9.889269
15                                           0.000000
16                                           0.404464
17                                           8.567215
18                                           3.133684
19                                           8.993616
20                                           9.951939
21                                          14.410248
22                                           5.240944
23                                          19.855287
24                                          16.608340
25                                           4.001179
26                                           6.315502
27                                           2.025400
28                                           2.936146
29                                           6.043392
30                                          12.411767
31                                          17.165684
32                                           6.166571
33                                           5.098898
34                                           0.000000
35                                          12.099815
36                                           8.496311

    Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.143101
1                                            1.011760
2                                            0.003205
3                                            0.243997
4                                            0.990401
5                                            0.000000
6                                            0.281272
7                                            0.828355
8                                            0.043702
9                                            0.494367
10                                           0.633561
11                                           1.060638
12                                           0.000000
13                                           0.476408
14                                           0.472528
15                                           0.000000
16                                           0.505580
17                                           0.820265
18                                           0.657063
19                                           0.038119
20                                           0.702871
21                                           0.000000
22                                           1.801575
23                                           0.047126
24                                           0.018602
25                                           0.190532
26                                           0.803070
27                                           0.752706
28                                           0.673780
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.077437
34                                           0.000000
35                                           0.000000
36                                           0.437294

    Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.198433
1                                            0.000000
2                                            0.169841
3                                            0.138329
4                                            0.160500
5                                            1.988283
6                                            0.670089
7                                            0.552236
8                                            0.000000
9                                            0.279078
10                                           0.585059
11                                           0.126033
12                                           0.000000
13                                           0.013769
14                                           0.098777
15                                           0.000000
16                                           0.370759
17                                           0.000000
18                                           0.000000
19                                           0.109591
20                                           0.407305
21                                           0.000000
22                                           0.000000
23                                           0.381166
24                                           0.155015
25                                           0.326627
26                                           0.000000
27                                           0.250735
28                                           0.224593
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.211008

    Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.049608
1                                            0.578149
2                                            0.000000
3                                            0.290107
4                                            0.896450
5                                            0.000000
6                                            0.099273
7                                            0.422066
8                                            0.538997
9                                            0.302999
10                                           0.472897
11                                           0.184957
12                                           0.000000
13                                           0.509454
14                                           0.087209
15                                           0.945446
16                                           0.741517
17                                           0.000000
18                                           0.303260
19                                           0.021442
20                                           0.385678
21                                           0.052518
22                                           0.000000
23                                           0.271667
24                                           0.430943
25                                           0.108876
26                                           0.158631
27                                           0.543010
28                                           0.383452
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.041697
34                                           0.000000
35                                           0.000000
36                                           0.293016

    Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.366338
1                                            0.650417
2                                            0.000000
3                                            0.242076
4                                            0.555877
5                                            0.000000
6                                            0.052945
7                                            0.291896
8                                            0.160242
9                                            0.087710
10                                           0.415301
11                                           0.070382
12                                           0.000000
13                                           0.309803
14                                           0.070301
15                                           0.350165
16                                           0.404464
17                                           0.000000
18                                           0.000000
19                                           0.021442
20                                           0.464976
21                                           0.103576
22                                           0.000000
23                                           0.037424
24                                           0.601459
25                                           0.000000
26                                           0.009914
27                                           0.734689
28                                           0.367018
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.285996

    Weather Condition-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.036252
1                                            0.939492
2                                            0.000000
3                                            0.201730
4                                            0.234878
5                                            0.000000
6                                            0.071145
7                                            0.295841
8                                            0.000000
9                                            0.015947
10                                           0.284951
11                                           0.330631
12                                           0.000000
13                                           0.114283
14                                           0.036485
15                                           0.525248
16                                           0.303348
17                                           0.000000
18                                           0.000000
19                                           0.026207
20                                           0.836237
21                                           0.016047
22                                           0.327559
23                                           0.018019
24                                           0.567356
25                                           0.000000
26                                           0.000000
27                                           0.419394
28                                           0.436040
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.210925

    Fault of Passenger-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.034344
1                                            0.289074
2                                            0.000000
3                                            0.146975
4                                            0.254451
5                                            0.000000
6                                            0.071145
7                                            0.382621
8                                            0.000000
9                                            0.000000
10                                           0.081848
11                                           0.032736
12                                           0.000000
13                                           0.111529
14                                           0.025807
15                                           0.210099
16                                           0.404464
17                                           0.000000
18                                           0.000000
19                                           0.009530
20                                           0.014418
21                                           0.001459
22                                           0.000000
23                                           0.363147
24                                           0.074407
25                                           0.000000
26                                           0.277604
27                                           0.842290
28                                           0.128182
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.221166

    Poor light-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.145009
1                                            1.517640
2                                            0.000000
3                                            0.161384
4                                            0.352317
5                                            0.000000
6                                            0.072800
7                                            0.311619
8                                            0.000000
9                                            0.000000
10                                           0.148538
11                                           0.085113
12                                           0.000000
13                                           0.075730
14                                           0.042714
15                                           0.070033
16                                           0.303348
17                                           0.000000
18                                           0.000000
19                                           0.007147
20                                           0.299171
21                                           0.045223
22                                           0.491339
23                                           0.008316
24                                           0.226322
25                                           0.027219
26                                           0.000000
27                                           0.403879
28                                           0.101889
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.053610
34                                           0.000000
35                                           0.000000
36                                           0.148820

    Falling of boulders-Number of Persons-Killed - 2014 per 1L people  \
0                                            0.001908
1                                            0.000000
2                                            0.000000
3                                            0.042267
4                                            0.027402
5                                            0.000000
6                                            0.003309
7                                            0.315564
8                                            0.000000
9                                            0.000000
10                                           0.045471
11                                           0.021278
12                                           0.000000
13                                           0.002754
14                                           0.000000
15                                           0.000000
16                                           0.202232
17                                           0.000000
18                                           0.000000
19                                           0.009530
20                                           0.075694
21                                           0.002918
22                                           0.000000
23                                           0.000000
24                                           0.607660
25                                           0.000000
26                                           0.000000
27                                           0.146137
28                                           0.064639
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.061444

    Other causes/causes not known-Number of Persons-Killed - 2014 per 1L people
0                                            1.039865
1                                            1.589909
2                                            0.032046
3                                            0.507207

In [267]:
# Task 16: Number of people injured for each reason per 1 lakh population of that state

# Selected the relevant columns for the number of people injured per 1L population for each reason
injured_per_reason = df5[['States/UTs', 
                          'Fault of Driver-Number of Persons-Injured - 2014 per 1L people', 
                          'Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people', 
                          'Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people', 
                          'Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people', 
                          'Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people', 
                          'Weather Condition-Number of Persons-Injured - 2014 per 1L people', 
                          'Fault of Passenger-Number of Persons-Injured - 2014 per 1L people', 
                          'Poor light-Number of Persons-Injured - 2014 per 1L people', 
                          'Falling of boulders-Number of Persons-Injured - 2014 per 1L people', 
                          'Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people']]

# Display the result
print(injured_per_reason)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Fault of Driver-Number of Persons-Injured - 2014 per 1L people  \
0                                           50.155834
1                                            2.168058
2                                           20.127813
3                                            3.241131
4                                           34.096428
5                                          113.126438
6                                           30.205316
7                                           30.108717
8                                           77.586435
9                                           32.596297
10                                           7.175307
11                                          74.694784
12                                         123.019592
13                                          60.707610
14                                          30.517645
15                                           0.000000
16                                           0.269643
17                                          20.233211
18                                           7.935297
19                                          25.560929
20                                           9.288716
21                                          38.084019
22                                          29.644091
23                                         103.506686
24                                          44.278571
25                                          26.429557
26                                           9.329494
27                                           2.796624
28                                           6.241501
29                                          74.359992
30                                          31.740016
31                                          27.930604
32                                          20.144133
33                                                NaN
34                                           1.551037
35                                         106.013608
36                                          32.484485

    Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.810904
1                                            3.252087
2                                            0.003205
3                                            0.379445
4                                            2.603229
5                                            0.000000
6                                            0.853744
7                                            0.796798
8                                            0.437025
9                                            7.471314
10                                           0.682063
11                                           7.347538
12                                           0.000000
13                                           3.084261
14                                           1.945284
15                                           0.000000
16                                           0.572991
17                                           1.093687
18                                           2.577708
19                                           0.147710
20                                           0.717289
21                                           0.000000
22                                           3.766929
23                                           0.119201
24                                           0.124012
25                                           1.388164
26                                           1.328536
27                                           0.942885
28                                           1.350846
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           1.333603

    Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.305281
1                                            0.000000
2                                            0.413388
3                                            0.223824
4                                            0.544134
5                                            5.896287
6                                            2.169104
7                                            0.761297
8                                            0.000000
9                                            1.060496
10                                           0.733597
11                                           1.419095
12                                           0.000000
13                                           0.136313
14                                           0.238489
15                                           0.000000
16                                           0.606696
17                                           0.000000
18                                           0.000000
19                                           0.185828
20                                           0.079298
21                                           0.000000
22                                           0.000000
23                                           1.137954
24                                           1.382737
25                                           0.680473
26                                           0.000000
27                                           0.369347
28                                           0.353871
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.522854

    Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.162181
1                                            1.589909
2                                            0.000000
3                                            0.341020
4                                            1.914254
5                                            0.891299
6                                            0.271345
7                                            0.378676
8                                            2.272528
9                                            1.538915
10                                           0.666906
11                                           1.325798
12                                           0.000000
13                                           2.326964
14                                           0.404897
15                                           7.738653
16                                           1.381919
17                                           0.000000
18                                           1.111952
19                                           0.083385
20                                           0.306380
21                                           0.110871
22                                           0.000000
23                                           0.712434
24                                           1.987296
25                                           0.871005
26                                           0.178460
27                                           0.739194
28                                           0.591612
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.697854

    Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.843340
1                                            2.095789
2                                            0.000000
3                                            0.270895
4                                            1.491474
5                                            0.000000
6                                            0.177036
7                                            0.220895
8                                            0.917752
9                                            1.020628
10                                           0.700252
11                                           0.299532
12                                           0.000000
13                                           1.840918
14                                           0.288322
15                                           4.482116
16                                           0.438169
17                                           0.000000
18                                           0.000000
19                                           0.054796
20                                           0.623573
21                                           0.297600
22                                           0.000000
23                                           0.228700
24                                           3.797875
25                                           0.000000
26                                           0.000000
27                                           0.793244
28                                           0.456856
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.619067

    Weather Condition-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.133561
1                                            1.806715
2                                            0.000000
3                                            0.293950
4                                            0.806414
5                                            0.000000
6                                            0.398745
7                                            0.268229
8                                            0.000000
9                                            0.287052
10                                           0.697220
11                                           0.502494
12                                           0.000000
13                                           0.616852
14                                           0.081869
15                                           4.447099
16                                           0.471875
17                                           0.000000
18                                           0.000000
19                                           0.021442
20                                           0.598342
21                                           0.037929
22                                           2.620472
23                                           0.077619
24                                           2.852282
25                                           0.000000
26                                           0.000000
27                                           0.593056
28                                           1.017791
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.452325

    Fault of Passenger-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.253765
1                                            1.951252
2                                            0.000000
3                                            0.298753
4                                            1.190048
5                                            0.000000
6                                            0.226672
7                                            0.315564
8                                            0.000000
9                                            0.000000
10                                           0.139444
11                                           0.473032
12                                           0.000000
13                                           0.691205
14                                           0.061402
15                                           3.501653
16                                           0.539285
17                                           0.000000
18                                           0.000000
19                                           0.016677
20                                           0.036045
21                                           0.004376
22                                           1.637795
23                                           1.675745
24                                           0.542554
25                                           0.000000
26                                           0.694011
27                                           1.212638
28                                           0.197204
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.503859

    Poor light-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.591483
1                                            2.384863
2                                            0.000000
3                                            0.219982
4                                            1.706779
5                                            0.000000
6                                            0.248181
7                                            0.323453
8                                            0.000000
9                                            0.000000
10                                           0.227354
11                                           0.530319
12                                           0.000000
13                                           0.503946
14                                           0.126363
15                                           2.206041
16                                           0.438169
17                                           0.000000
18                                           0.000000
19                                           0.023824
20                                           0.245104
21                                           0.142965
22                                           4.749606
23                                           0.008316
24                                           1.171916
25                                           0.299408
26                                           0.000000
27                                           0.688646
28                                           0.213637
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.362884

    Falling of boulders-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.022896
1                                            0.000000
2                                            0.000000
3                                            0.055716
4                                            0.148756
5                                            0.000000
6                                            0.000000
7                                            0.220895
8                                            0.000000
9                                            0.000000
10                                           0.072753
11                                           0.065471
12                                           0.000000
13                                           0.023407
14                                           0.056953
15                                           0.035017
16                                           0.134821
17                                           0.000000
18                                           0.000000
19                                           0.021442
20                                           0.162201
21                                           0.001459
22                                           0.000000
23                                           0.000000
24                                           3.267723
25                                           0.000000
26                                           0.019829
27                                           0.231717
28                                           0.109558
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.164182

    Other causes/causes not known-Number of Persons-Injured - 2014 per 1L people
0                                            3.085251
1                                            3.902504
2                                            0.112159
3                                            0.715662

In [268]:
# Task 17: Number of accidents for each reason per 1 lakh population of that state

# Selected the relevant columns for the number of accidents per 1L population for each reason
accidents_per_reason = df5[['States/UTs', 
                            'Fault of Driver-Total No. of Road Accidents - 2014 per 1L people', 
                            'Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people', 
                            'Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people', 
                            'Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people', 
                            'Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people', 
                            'Weather Condition-Total No. of Road Accidents - 2014 per 1L people', 
                            'Fault of Passenger-Total No. of Road Accidents - 2014 per 1L people', 
                            'Poor light-Total No. of Road Accidents - 2014 per 1L people', 
                            'Falling of boulders-Total No. of Road Accidents - 2014 per 1L people', 
                            'Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people']]

# Display the result
print(accidents_per_reason)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Fault of Driver-Total No. of Road Accidents - 2014 per 1L people  \
0                                           40.753165
1                                            2.168058
2                                           22.095410
3                                            4.810784
4                                           35.654451
5                                          260.190807
6                                           31.345295
7                                           32.376831
8                                           42.770142
9                                           28.816785
10                                           8.975955
11                                          57.956998
12                                         108.609034
13                                          56.831631
14                                          42.925283
15                                           0.000000
16                                           0.842633
17                                          10.390027
18                                          10.664634
19                                          22.039720
20                                          13.873601
21                                          34.482187
22                                          20.144879
23                                          89.174842
24                                          50.671402
25                                          15.297025
26                                          10.301110
27                                           3.834098
28                                           6.520874
29                                          57.280842
30                                          34.961391
31                                          25.312110
32                                          16.033086
33                                          27.064447
34                                           1.551037
35                                          89.025789
36                                          31.299537

    Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.549507
1                                            1.445372
2                                            0.006409
3                                            0.584057
4                                            2.842021
5                                            0.000000
6                                            0.744544
7                                            1.798713
8                                            0.320485
9                                            3.029988
10                                           1.085239
11                                           4.998748
12                                           0.000000
13                                           3.049838
14                                           6.469449
15                                           0.000000
16                                           1.348214
17                                           1.640531
18                                           3.689660
19                                           0.131033
20                                           1.056109
21                                           0.000000
22                                           2.456693
23                                           0.158011
24                                           0.055806
25                                           0.626035
26                                           1.447509
27                                           1.369785
28                                           1.637887
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           1.724071

    Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.446474
1                                            0.000000
2                                            0.461456
3                                            0.274737
4                                            0.571536
5                                           11.998259
6                                            2.501667
7                                            1.372702
8                                            0.000000
9                                            1.778125
10                                           0.924575
11                                           0.548324
12                                           0.000000
13                                           0.209289
14                                           0.297221
15                                           0.000000
16                                           1.011160
17                                           0.000000
18                                           0.000000
19                                           0.214417
20                                           0.443350
21                                           0.000000
22                                           0.000000
23                                           1.307053
24                                           1.454044
25                                           0.680473
26                                           0.000000
27                                           0.486456
28                                           0.377974
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.593878

    Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.127837
1                                            1.228566
2                                            0.000000
3                                            0.519695
4                                            2.630631
5                                            1.165545
6                                            0.266381
7                                            0.650850
8                                            1.077994
9                                            2.719016
10                                           0.863947
11                                           1.024629
12                                           0.000000
13                                           2.291165
14                                           0.442272
15                                           4.622182
16                                           2.527900
17                                           0.000000
18                                           1.061409
19                                           0.066708
20                                           0.609155
21                                           0.107953
22                                           0.000000
23                                           0.719364
24                                           1.078907
25                                           0.544378
26                                           0.347006
27                                           1.030467
28                                           0.645295
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.759463

    Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.543783
1                                            1.084029
2                                            0.000000
3                                            0.428436
4                                            1.722437
5                                            0.068561
6                                            0.335872
7                                            0.556181
8                                            0.364187
9                                            0.901023
10                                           0.676001
11                                           0.291348
12                                           0.000000
13                                           1.991000
14                                           0.339045
15                                           2.836339
16                                           1.011160
17                                           0.000000
18                                           0.000000
19                                           0.061943
20                                           0.684849
21                                           0.248000
22                                           0.000000
23                                           0.163555
24                                           1.531551
25                                           0.000000
26                                           0.009914
27                                           1.360777
28                                           0.690213
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.690091

    Weather Condition-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.114481
1                                            1.662178
2                                            0.000000
3                                            0.392894
4                                            0.829902
5                                            0.068561
6                                            0.320981
7                                            0.500957
8                                            0.000000
9                                            0.159473
10                                           0.615373
11                                           1.111379
12                                           0.000000
13                                           0.742150
14                                           0.090768
15                                           3.851818
16                                           0.943749
17                                           0.000000
18                                           0.000000
19                                           0.026207
20                                           1.120990
21                                           0.033553
22                                           1.637795
23                                           0.049898
24                                           1.047903
25                                           0.000000
26                                           0.000000
27                                           0.791743
28                                           1.033129
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.492297

    Fault of Passenger-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.129745
1                                            0.794954
2                                            0.000000
3                                            0.377524
4                                            1.119584
5                                            0.000000
6                                            0.221709
7                                            0.607460
8                                            0.000000
9                                            0.000000
10                                           0.163695
11                                           0.225877
12                                           0.000000
13                                           0.722874
14                                           0.084539
15                                           1.645777
16                                           1.112276
17                                           0.000000
18                                           0.000000
19                                           0.030971
20                                           0.100925
21                                           0.005835
22                                           0.655118
23                                           1.449817
24                                           0.192219
25                                           0.000000
26                                           0.505637
27                                           1.687083
28                                           0.223498
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.555062

    Poor light-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.364430
1                                            2.457132
2                                            0.000000
3                                            0.316044
4                                            1.377950
5                                            0.205684
6                                            0.254799
7                                            0.520680
8                                            0.000000
9                                            0.000000
10                                           0.239480
11                                           0.404286
12                                           0.000000
13                                           0.574168
14                                           0.133482
15                                           1.050496
16                                           1.348214
17                                           0.000000
18                                           0.000000
19                                           0.033354
20                                           0.403701
21                                           0.096282
22                                           1.801575
23                                           0.029107
24                                           0.458845
25                                           0.081657
26                                           0.000000
27                                           0.738193
28                                           0.221307
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.347688

    Falling of boulders-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.011448
1                                            0.000000
2                                            0.000000
3                                            0.078771
4                                            0.101780
5                                            0.000000
6                                            0.004964
7                                            0.512791
8                                            0.000000
9                                            0.000000
10                                           0.072753
11                                           0.068745
12                                           0.000000
13                                           0.097760
14                                           0.063182
15                                           0.035017
16                                           0.404464
17                                           0.000000
18                                           0.000000
19                                           0.019059
20                                           0.183828
21                                           0.004376
22                                           0.000000
23                                           0.000000
24                                           1.751673
25                                           0.000000
26                                           0.009914
27                                           0.232718
28                                           0.112844
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.137424

    Other causes/causes not known-Total No. of Road Accidents - 2014 per 1L people
0                                            2.919254
1                                            2.457132
2                                            0.137796
3                                            0.922195

In [269]:
# Task 18: Total number of road accidents, injuries, and deaths due to the fault of the driver per 1 lakh population

# Selected the relevant columns for accidents, injuries, and deaths caused by the fault of the driver per 1L people
fault_of_driver_data = df5[['States/UTs', 
                            'Fault of Driver-Total No. of Road Accidents - 2014 per 1L people', 
                            'Fault of Driver-Number of Persons-Injured - 2014 per 1L people', 
                            'Fault of Driver-Number of Persons-Killed - 2014 per 1L people']]

# Display the result
print(fault_of_driver_data)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Fault of Driver-Total No. of Road Accidents - 2014 per 1L people  \
0                                           40.753165
1                                            2.168058
2                                           22.095410
3                                            4.810784
4                                           35.654451
5                                          260.190807
6                                           31.345295
7                                           32.376831
8                                           42.770142
9                                           28.816785
10                                           8.975955
11                                          57.956998
12                                         108.609034
13                                          56.831631
14                                          42.925283
15                                           0.000000
16                                           0.842633
17                                          10.390027
18                                          10.664634
19                                          22.039720
20                                          13.873601
21                                          34.482187
22                                          20.144879
23                                          89.174842
24                                          50.671402
25                                          15.297025
26                                          10.301110
27                                           3.834098
28                                           6.520874
29                                          57.280842
30                                          34.961391
31                                          25.312110
32                                          16.033086
33                                          27.064447
34                                           1.551037
35                                          89.025789
36                                          31.299537

    Fault of Driver-Number of Persons-Injured - 2014 per 1L people  \
0                                           50.155834
1                                            2.168058
2                                           20.127813
3                                            3.241131
4                                           34.096428
5                                          113.126438
6                                           30.205316
7                                           30.108717
8                                           77.586435
9                                           32.596297
10                                           7.175307
11                                          74.694784
12                                         123.019592
13                                          60.707610
14                                          30.517645
15                                           0.000000
16                                           0.269643
17                                          20.233211
18                                           7.935297
19                                          25.560929
20                                           9.288716
21                                          38.084019
22                                          29.644091
23                                         103.506686
24                                          44.278571
25                                          26.429557
26                                           9.329494
27                                           2.796624
28                                           6.241501
29                                          74.359992
30                                          31.740016
31                                          27.930604
32                                          20.144133
33                                                NaN
34                                           1.551037
35                                         106.013608
36                                          32.484485

    Fault of Driver-Number of Persons-Killed - 2014 per 1L people
0                                           12.865705
1                                            1.373103
2                                            7.783865
3                                            2.541800
4                                            9.622161
5                                           16.934685
6                                           10.977885
7                                           12.567323
8                                           16.723475
9                                            4.473220
10                                           4.104506
11                                          13.925785
12                                          12.120555
13                                           9.280320
14                                           9.889269
15                                           0.000000
16                                           0.404464
17                                           8.567215
18                                           3.133684
19                                           8.993616
20                                           9.951939
21                                          14.410248
22                                           5.240944
23                                          19.855287
24                                          16.608340
25                                           4.001179
26                                           6.315502
27                                           2.025400
28                                           2.936146
29                                           6.043392
30                                          12.411767
31                                          17.165684
32                                           6.166571
33                                           5.098898
34                                           0.000000
35                                          12.099815
36                                           8.496311

In [270]:
# Task 19: Total number of road accidents, injuries, and deaths due to the fault of drivers from other vehicles per 1 lakh population

# Selected the relevant columns for accidents, injuries, and deaths caused by the fault of drivers from other vehicles per 1L people
fault_of_other_vehicles_data = df5[['States/UTs', 
                                    'Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people', 
                                    'Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people', 
                                    'Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people']]

# Display the result
print(fault_of_other_vehicles_data)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Fault of Driver of other vehicles-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.549507
1                                            1.445372
2                                            0.006409
3                                            0.584057
4                                            2.842021
5                                            0.000000
6                                            0.744544
7                                            1.798713
8                                            0.320485
9                                            3.029988
10                                           1.085239
11                                           4.998748
12                                           0.000000
13                                           3.049838
14                                           6.469449
15                                           0.000000
16                                           1.348214
17                                           1.640531
18                                           3.689660
19                                           0.131033
20                                           1.056109
21                                           0.000000
22                                           2.456693
23                                           0.158011
24                                           0.055806
25                                           0.626035
26                                           1.447509
27                                           1.369785
28                                           1.637887
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           1.724071

    Fault of Driver of other vehicles-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.810904
1                                            3.252087
2                                            0.003205
3                                            0.379445
4                                            2.603229
5                                            0.000000
6                                            0.853744
7                                            0.796798
8                                            0.437025
9                                            7.471314
10                                           0.682063
11                                           7.347538
12                                           0.000000
13                                           3.084261
14                                           1.945284
15                                           0.000000
16                                           0.572991
17                                           1.093687
18                                           2.577708
19                                           0.147710
20                                           0.717289
21                                           0.000000
22                                           3.766929
23                                           0.119201
24                                           0.124012
25                                           1.388164
26                                           1.328536
27                                           0.942885
28                                           1.350846
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           1.333603

    Fault of Driver of other vehicles-Number of Persons-Killed - 2014 per 1L people
0                                            0.143101
1                                            1.011760
2                                            0.003205
3                                            0.243997
4                                            0.990401
5                                            0.000000
6                                            0.281272
7                                            0.828355
8                                            0.043702
9                                            0.494367
10                                           0.633561
11                                           1.060638
12                                           0.000000
13                                           0.476408
14                                           0.472528
15                                           0.000000
16                                           0.505580
17                                           0.820265
18                                           0.657063
19                                           0.038119
20                                           0.702871
21                                           0.000000
22                                           1.801575
23                                           0.047126
24                                           0.018602
25                                           0.190532
26                                           0.803070
27                                           0.752706
28                                           0.673780
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.077437
34                                           0.000000
35                                           0.000000
36                                           0.437294

In [271]:
# Task 20: Total number of road accidents, injuries, and deaths due to the fault of pedestrians per 1 lakh population

# Selected the relevant columns for accidents, injuries, and deaths caused by the fault of pedestrians per 1L people
fault_of_pedestrian_data = df5[['States/UTs', 
                                'Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people', 
                                'Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people', 
                                'Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people']]

# Display the result
print(fault_of_pedestrian_data)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Fault of Pedestrian-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.446474
1                                            0.000000
2                                            0.461456
3                                            0.274737
4                                            0.571536
5                                           11.998259
6                                            2.501667
7                                            1.372702
8                                            0.000000
9                                            1.778125
10                                           0.924575
11                                           0.548324
12                                           0.000000
13                                           0.209289
14                                           0.297221
15                                           0.000000
16                                           1.011160
17                                           0.000000
18                                           0.000000
19                                           0.214417
20                                           0.443350
21                                           0.000000
22                                           0.000000
23                                           1.307053
24                                           1.454044
25                                           0.680473
26                                           0.000000
27                                           0.486456
28                                           0.377974
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.593878

    Fault of Pedestrian-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.305281
1                                            0.000000
2                                            0.413388
3                                            0.223824
4                                            0.544134
5                                            5.896287
6                                            2.169104
7                                            0.761297
8                                            0.000000
9                                            1.060496
10                                           0.733597
11                                           1.419095
12                                           0.000000
13                                           0.136313
14                                           0.238489
15                                           0.000000
16                                           0.606696
17                                           0.000000
18                                           0.000000
19                                           0.185828
20                                           0.079298
21                                           0.000000
22                                           0.000000
23                                           1.137954
24                                           1.382737
25                                           0.680473
26                                           0.000000
27                                           0.369347
28                                           0.353871
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.522854

    Fault of Pedestrian-Number of Persons-Killed - 2014 per 1L people
0                                            0.198433
1                                            0.000000
2                                            0.169841
3                                            0.138329
4                                            0.160500
5                                            1.988283
6                                            0.670089
7                                            0.552236
8                                            0.000000
9                                            0.279078
10                                           0.585059
11                                           0.126033
12                                           0.000000
13                                           0.013769
14                                           0.098777
15                                           0.000000
16                                           0.370759
17                                           0.000000
18                                           0.000000
19                                           0.109591
20                                           0.407305
21                                           0.000000
22                                           0.000000
23                                           0.381166
24                                           0.155015
25                                           0.326627
26                                           0.000000
27                                           0.250735
28                                           0.224593
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.211008

In [272]:
# Task 21: Total number of road accidents, injuries, and deaths due to defects in the vehicle per 1 lakh population

# Selected the relevant columns for accidents, injuries, and deaths caused by defects in the vehicle per 1L people
vehicle_defects_data = df5[['States/UTs', 
                            'Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people', 
                            'Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people', 
                            'Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people']]

# Display the result
print(vehicle_defects_data)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Defect in Condition of Motor Vehicle-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.127837
1                                            1.228566
2                                            0.000000
3                                            0.519695
4                                            2.630631
5                                            1.165545
6                                            0.266381
7                                            0.650850
8                                            1.077994
9                                            2.719016
10                                           0.863947
11                                           1.024629
12                                           0.000000
13                                           2.291165
14                                           0.442272
15                                           4.622182
16                                           2.527900
17                                           0.000000
18                                           1.061409
19                                           0.066708
20                                           0.609155
21                                           0.107953
22                                           0.000000
23                                           0.719364
24                                           1.078907
25                                           0.544378
26                                           0.347006
27                                           1.030467
28                                           0.645295
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.759463

    Defect in Condition of Motor Vehicle-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.162181
1                                            1.589909
2                                            0.000000
3                                            0.341020
4                                            1.914254
5                                            0.891299
6                                            0.271345
7                                            0.378676
8                                            2.272528
9                                            1.538915
10                                           0.666906
11                                           1.325798
12                                           0.000000
13                                           2.326964
14                                           0.404897
15                                           7.738653
16                                           1.381919
17                                           0.000000
18                                           1.111952
19                                           0.083385
20                                           0.306380
21                                           0.110871
22                                           0.000000
23                                           0.712434
24                                           1.987296
25                                           0.871005
26                                           0.178460
27                                           0.739194
28                                           0.591612
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.697854

    Defect in Condition of Motor Vehicle-Number of Persons-Killed - 2014 per 1L people
0                                            0.049608
1                                            0.578149
2                                            0.000000
3                                            0.290107
4                                            0.896450
5                                            0.000000
6                                            0.099273
7                                            0.422066
8                                            0.538997
9                                            0.302999
10                                           0.472897
11                                           0.184957
12                                           0.000000
13                                           0.509454
14                                           0.087209
15                                           0.945446
16                                           0.741517
17                                           0.000000
18                                           0.303260
19                                           0.021442
20                                           0.385678
21                                           0.052518
22                                           0.000000
23                                           0.271667
24                                           0.430943
25                                           0.108876
26                                           0.158631
27                                           0.543010
28                                           0.383452
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.041697
34                                           0.000000
35                                           0.000000
36                                           0.293016

In [273]:
# Task 22: Total number of road accidents, injuries, and deaths due to defects in road condition per 1 lakh population

# Selected the relevant columns for accidents, injuries, and deaths caused by road defects per 1L people
road_defects_data = df5[['States/UTs', 
                         'Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people', 
                         'Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people', 
                         'Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people']]

# Display the result
print(road_defects_data)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Defect in Road Condition-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.543783
1                                            1.084029
2                                            0.000000
3                                            0.428436
4                                            1.722437
5                                            0.068561
6                                            0.335872
7                                            0.556181
8                                            0.364187
9                                            0.901023
10                                           0.676001
11                                           0.291348
12                                           0.000000
13                                           1.991000
14                                           0.339045
15                                           2.836339
16                                           1.011160
17                                           0.000000
18                                           0.000000
19                                           0.061943
20                                           0.684849
21                                           0.248000
22                                           0.000000
23                                           0.163555
24                                           1.531551
25                                           0.000000
26                                           0.009914
27                                           1.360777
28                                           0.690213
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.690091

    Defect in Road Condition-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.843340
1                                            2.095789
2                                            0.000000
3                                            0.270895
4                                            1.491474
5                                            0.000000
6                                            0.177036
7                                            0.220895
8                                            0.917752
9                                            1.020628
10                                           0.700252
11                                           0.299532
12                                           0.000000
13                                           1.840918
14                                           0.288322
15                                           4.482116
16                                           0.438169
17                                           0.000000
18                                           0.000000
19                                           0.054796
20                                           0.623573
21                                           0.297600
22                                           0.000000
23                                           0.228700
24                                           3.797875
25                                           0.000000
26                                           0.000000
27                                           0.793244
28                                           0.456856
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.619067

    Defect in Road Condition-Number of Persons-Killed - 2014 per 1L people
0                                            0.366338
1                                            0.650417
2                                            0.000000
3                                            0.242076
4                                            0.555877
5                                            0.000000
6                                            0.052945
7                                            0.291896
8                                            0.160242
9                                            0.087710
10                                           0.415301
11                                           0.070382
12                                           0.000000
13                                           0.309803
14                                           0.070301
15                                           0.350165
16                                           0.404464
17                                           0.000000
18                                           0.000000
19                                           0.021442
20                                           0.464976
21                                           0.103576
22                                           0.000000
23                                           0.037424
24                                           0.601459
25                                           0.000000
26                                           0.009914
27                                           0.734689
28                                           0.367018
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.285996

In [276]:
# Task 23: Total number of road accidents, injuries, and deaths due to weather conditions per 1 lakh population

# Selected the relevant columns for accidents, injuries, and deaths caused by weather conditions per 1L people
weather_conditions_data = df5[['States/UTs', 
                               'Weather Condition-Total No. of Road Accidents - 2014 per 1L people', 
                               'Weather Condition-Number of Persons-Injured - 2014 per 1L people', 
                               'Weather Condition-Number of Persons-Killed - 2014 per 1L people']]

# Display the result
print(weather_conditions_data)

               States/UTs  \
0          Andhra Pradesh
1       Arunachal Pradesh
2                   Assam
3                   Bihar
4            Chhattisgarh
5                     Goa
6                 Gujarat
7                 Haryana
8        Himachal Pradesh
9         Jammu & Kashmir
10              Jharkhand
11              Karnataka
12                 Kerala
13         Madhya Pradesh
14            Maharashtra
15                Manipur
16              Meghalaya
17                Mizoram
18               Nagaland
19                 Odisha
20                 Punjab
21              Rajasthan
22                 Sikkim
23             Tamil Nadu
24              Telangana
25                Tripura
26            Uttarakhand
27          Uttar Pradesh
28            West Bengal
29  Andaman & Nicobar Is.
30             Chandigarh
31   Dadra & Nagar Haveli
32            Daman & Diu
33                 Delhi
34            Lakshadweep
35             Puducherry
36                 Total

    Weather Condition-Total No. of Road Accidents - 2014 per 1L people  \
0                                            0.114481
1                                            1.662178
2                                            0.000000
3                                            0.392894
4                                            0.829902
5                                            0.068561
6                                            0.320981
7                                            0.500957
8                                            0.000000
9                                            0.159473
10                                           0.615373
11                                           1.111379
12                                           0.000000
13                                           0.742150
14                                           0.090768
15                                           3.851818
16                                           0.943749
17                                           0.000000
18                                           0.000000
19                                           0.026207
20                                           1.120990
21                                           0.033553
22                                           1.637795
23                                           0.049898
24                                           1.047903
25                                           0.000000
26                                           0.000000
27                                           0.791743
28                                           1.033129
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.492297

    Weather Condition-Number of Persons-Injured - 2014 per 1L people  \
0                                            0.133561
1                                            1.806715
2                                            0.000000
3                                            0.293950
4                                            0.806414
5                                            0.000000
6                                            0.398745
7                                            0.268229
8                                            0.000000
9                                            0.287052
10                                           0.697220
11                                           0.502494
12                                           0.000000
13                                           0.616852
14                                           0.081869
15                                           4.447099
16                                           0.471875
17                                           0.000000
18                                           0.000000
19                                           0.021442
20                                           0.598342
21                                           0.037929
22                                           2.620472
23                                           0.077619
24                                           2.852282
25                                           0.000000
26                                           0.000000
27                                           0.593056
28                                           1.017791
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                                NaN
34                                           0.000000
35                                           0.000000
36                                           0.452325

    Weather Condition-Number of Persons-Killed - 2014 per 1L people
0                                            0.036252
1                                            0.939492
2                                            0.000000
3                                            0.201730
4                                            0.234878
5                                            0.000000
6                                            0.071145
7                                            0.295841
8                                            0.000000
9                                            0.015947
10                                           0.284951
11                                           0.330631
12                                           0.000000
13                                           0.114283
14                                           0.036485
15                                           0.525248
16                                           0.303348
17                                           0.000000
18                                           0.000000
19                                           0.026207
20                                           0.836237
21                                           0.016047
22                                           0.327559
23                                           0.018019
24                                           0.567356
25                                           0.000000
26                                           0.000000
27                                           0.419394
28                                           0.436040
29                                           0.000000
30                                           0.000000
31                                           0.000000
32                                           0.000000
33                                           0.000000
34                                           0.000000
35                                           0.000000
36                                           0.210925

In [278]:
# Task 24: Number of total accidents for each vehicle type per 1 lakh population of that state

# List of vehicle types and their corresponding columns
vehicle_columns = {
    'Two_Wheelers_Total_Accidents': 'Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people',
    'Auto_Rickshaws_Total_Accidents': 'Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people',
    'Cars_Jeeps_Taxis_Total_Accidents': 'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people',
    'Buses_Total_Accidents': 'Buses - Number of Road Accidents - Total - 2014 per 1L people',
    'Trucks_Tempos_MAVs_Tractors_Total_Accidents': 'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people',
    'Other_Motor_Vehicles_Total_Accidents': 'Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people',
    'Other_Vehicles_Objects_Total_Accidents': 'Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people'
}

# Extracted the relevant columns
accidents_per_vehicle_type = df6[['States/UTs']]

# Added the columns for each vehicle type
for vehicle, column in vehicle_columns.items():
    accidents_per_vehicle_type[vehicle] = df6[column]

# Display the result
print(accidents_per_vehicle_type)

                   States/UTs  Two_Wheelers_Total_Accidents  \
0              Andhra Pradesh                     13.812077
1           Arunachal Pradesh                      2.457132
2                       Assam                      4.832470
3                       Bihar                      1.681085
4                Chhattisgarh                     18.739334
5                         Goa                    130.746737
6                     Gujarat                      9.202562
7                     Haryana                      4.461281
8            Himachal Pradesh                     11.857934
9             Jammu & Kashmir                      8.778993
10                  Jharkhand                      3.607358
11                  Karnataka                     17.598736
12                     Kerala                     36.259887
13             Madhya Pradesh                     27.108447
14                Maharashtra                     12.537561
15                    Manipur                      7.038323
16                  Meghalaya                      1.516740
17                    Mizoram                      2.916499
18                   Nagaland                      2.830424
19                     Odisha                      6.282428
20                     Punjab                      5.759941
21                  Rajasthan                      8.687288
22                     Sikkim                      5.077165
23                 Tamil Nadu                     33.276491
24                  Telangana                     14.249007
25                    Tripura                      3.865085
26                Uttarakhand                      2.290237
27              Uttar Pradesh                      2.451801
28                West Bengal                      3.849857
29  Andaman & Nicobar Islands                     24.173566
30                 Chandigarh                      5.779525
31       Dadra & Nagar Haveli                      5.236988
32                Daman & Diu                      5.755467
33                     Delhi                       7.773437
34                Lakshadweep                      1.551037
35                 Puducherry                     42.709942
36                     Total                      11.036334

    Auto_Rickshaws_Total_Accidents  Cars_Jeeps_Taxis_Total_Accidents  \
0                         8.475376                          7.351559
1                         1.228566                          3.035281
2                         0.935730                          5.165743
3                         0.340059                          1.431324
4                         1.217450                         11.657768
5                         2.331090                         94.203470
6                         3.616828                          7.304802
7                         1.597541                         10.441212
8                        11.610287                          9.672811
9                         0.510314                          5.780899
10                        0.760880                          2.352361
11                        4.276925                         12.539427
12                       15.078102                         26.097061
13                        2.815765                         15.516309
14                        2.959751                         16.372066
15                        1.470694                          6.232943
16                        0.910044                          3.707587
17                        0.182281                          2.460796
18                        2.931511                          3.790747
19                        1.369889                          3.721332
20                        0.666827                          6.217709
21                        0.716282                         10.048369
22                        0.000000                         20.144879
23                        4.033430                         25.802864
24                        7.958486                         11.176603
25                        2.449702                          3.756209
26                        0.138802                          4.352442
27                        0.738693                          3.172477
28                        0.279372                          1.605020
29                        6.831660                         15.239857
30                        0.852717                         18.475532
31                        1.163775                          2.909438
32                        0.411105                          2.466629
33                        1.358118                         16.714378
34                        0.000000                          0.000000
35                        3.044986                         18.510312
36                        2.574379                          9.185080

    Buses_Total_Accidents  Trucks_Tempos_MAVs_Tractors_Total_Accidents  \
0                3.304672                                     8.250231
1                1.084029                                     3.035281
2                2.012461                                     5.659245
3                0.923156                                     2.716633
4                2.642375                                    11.379830
5               24.270763                                    21.596865
6                1.927541                                     9.030489
7                2.540287                                    11.573297
8                5.958102                                     5.433673
9               12.678109                                    10.876064
10               1.794585                                     4.774444
11               6.299994                                    13.483853
12              14.497369                                    11.776306
13               4.627768                                    15.480509
14               3.923494                                     9.647221
15               1.330628                                     4.447099
16               1.752678                                     2.595311
17               0.455703                                     3.919045
18               1.061409                                     0.859236
19               1.824930                                     6.439667
20               2.014898                                     4.988585
21               2.655057                                     9.314581
22               0.000000                                     0.000000
23               9.664986                                    12.417698
24               4.517146                                    13.904873
25               0.734910                                     3.484020
26               1.447509                                     4.550731
27               1.165093                                     4.193935
28               1.382618                                     3.768784
29               5.517879                                     3.415830
30               3.316121                                     3.316121
31               1.454719                                    10.183033
32               0.411105                                     3.288838
33               3.162985                                     7.308818
34               0.000000                                     0.000000
35               7.291941                                    13.462045
36               3.416181                                     7.946038

    Other_Motor_Vehicles_Total_Accidents  \
0                               2.997482
1                               0.000000
2                               3.489761
3                               0.572529
4                               6.451310
5                               0.205684
6                               2.916957
7                               5.013518
8                               0.000000
9                               7.582945
10                              1.133741
11                              9.067801
12                              4.900308
13                              7.001547
14                              6.367112
15                              5.497595
16                              5.628792
17                              2.096234
18                              3.942377
19                              2.401474
20                              2.083383
21                              4.484420
22                              7.861416
23                              2.885774
24                              5.747967
25                              3.892304
26                              0.892300
27                              1.812200
28                              2.128706
29                              2.102049
30                              3.221375
31                              4.073213
32                              3.699943
33                              1.888260
34                              0.000000
35                              4.006561
36                              3.632227

    Other_Vehicles_Objects_Total_Accidents
0                                 2.440344
1                                 3.974772
2                                 0.797934
3                                 1.514898
4                                 2.016034
5                                16.591878
6                                 5.233316
7                                 6.484833
8                                 0.014567
9                                 0.526261
10                                1.342907
11                                8.282143
12                                0.000000
13                                1.075360
14                                3.033611
15                                0.000000
16                                2.157142
17                                0.000000
18                                0.000000
19                                0.945819
20                                1.304818
21                                0.021882
22                                0.163780
23                                5.131188
24                                4.693863
25                                1.306507
26                                0.307348
27                                1.997374
28                                1.091195
29                                0.000000
30                                0.000000
31                                0.290944
32                                0.000000
33                               13.158254
34                                0.000000
35                                0.000000
36                                2.627482

In [279]:
# Task 25: Number of persons killed for each vehicle type per 1 lakh population of that state

# List of vehicle types and their corresponding columns for persons killed per 1 lakh people
vehicle_columns_killed = {
    'Two_Wheelers_Killed': 'Two-Wheelers - Number of Persons - Killed - 2014 per 1L people',
    'Auto_Rickshaws_Killed': 'Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people',
    'Cars_Jeeps_Taxis_Killed': 'Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people',
    'Buses_Killed': 'Buses - Number of Persons - Killed - 2014 per 1L people',
    'Trucks_Tempos_MAVs_Tractors_Killed': 'Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people',
    'Other_Motor_Vehicles_Killed': 'Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people',
    'Other_Vehicles_Objects_Killed': 'Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people'
}

# Extracted the relevant columns
killed_per_vehicle_type = df6[['States/UTs']]

# Added the columns for persons killed for each vehicle type
for vehicle, column in vehicle_columns_killed.items():
    killed_per_vehicle_type[vehicle] = df6[column]

# Display the result
print(killed_per_vehicle_type)

                   States/UTs  Two_Wheelers_Killed  Auto_Rickshaws_Killed  \
0              Andhra Pradesh             3.821742               1.864125
1           Arunachal Pradesh             1.517640               0.505880
2                       Assam             1.720846               0.240342
3                       Bihar             0.787708               0.138329
4                Chhattisgarh             4.407873               0.144841
5                         Goa             9.187238               0.137123
6                     Gujarat             2.794521               0.986107
7                     Haryana             1.254366               0.710018
8            Himachal Pradesh             2.461905               4.413949
9             Jammu & Kashmir             2.041255               0.119605
10                  Jharkhand             1.840056               0.391050
11                  Karnataka             4.975833               0.721823
12                     Kerala             2.882710               0.793269
13             Madhya Pradesh             3.104914               0.257481
14                Maharashtra             3.620044               0.555287
15                    Manipur             1.155546               0.175083
16                  Meghalaya             0.471875               0.269643
17                    Mizoram             1.458249               0.000000
18                   Nagaland             0.606519               0.909779
19                     Odisha             2.501536               0.357362
20                     Punjab             4.246064               0.364051
21                  Rajasthan             2.774680               0.147341
22                     Sikkim             0.818898               0.000000
23                 Tamil Nadu             6.520019               0.433836
24                  Telangana             4.337328               2.080305
25                    Tripura             1.061537               0.517159
26                Uttarakhand             0.951787               0.079316
27              Uttar Pradesh             1.247170               0.388865
28                West Bengal             1.460404               0.098602
29  Andaman & Nicobar Islands             1.313781               0.788268
30                 Chandigarh             1.894926               0.094746
31       Dadra & Nagar Haveli             4.073213               0.581888
32                Daman & Diu             3.288838               0.000000
33                     Delhi              0.851802               0.160830
34                Lakshadweep             0.000000               0.000000
35                 Puducherry             4.407217               0.240394
36                     Total              2.686036               0.518559

    Cars_Jeeps_Taxis_Killed  Buses_Killed  Trucks_Tempos_MAVs_Tractors_Killed  \
0                  1.738196      1.081841                            3.354280
1                  1.806715      0.505880                            1.878983
2                  1.708028      0.788321                            2.041302
3                  0.755047      0.521617                            1.574456
4                  2.536680      0.739865                            4.235630
5                  4.319373      1.576914                            2.262529
6                  2.265068      0.724689                            3.443102
7                  3.901156      1.301700                            5.336970
8                  6.467964      1.835503                            2.287095
9                  1.355521      0.837234                            1.770151
10                 1.203463      0.821508                            2.503931
11                 2.517379      1.700622                            4.404594
12                 3.188044      2.457638                            1.882892
13                 2.172751      0.956947                            3.899387
14                 1.792224      0.424474                            2.260303
15                 1.050496      0.350165                            1.750827
16                 1.280803      0.370759                            1.145982
17                 1.913952      0.455703                            3.645624
18                 0.960323      0.353803                            0.404346
19                 1.398478      0.790962                            2.923223
20                 4.267691      1.402138                            3.665745
21                 3.871715      1.204987                            4.834538
22                 6.714960      0.000000                            0.000000
23                 4.858135      2.748554                            3.370894
24                 2.824379      1.624560                            6.222314
25                 1.170413      0.244970                            1.007100
26                 2.508355      1.338450                            3.053649
27                 1.585488      0.626087                            2.252614
28                 0.738419      0.734037                            1.966560
29                 1.576537      0.788268                            1.313781
30                 4.926808      2.179165                            1.421195
31                 1.745663      1.163775                            6.982651
32                 0.000000      0.411105                            1.233314
33                 1.775084      0.673102                            2.162266
34                 0.000000      0.000000                            0.000000
35                 1.442362      0.961575                            2.003281
36                 2.150381      1.006314                            2.949238

    Other_Motor_Vehicles_Killed  Other_Vehicles_Objects_Killed
0                      1.541671                       1.686680
1                      0.000000                       2.384863
2                      1.285027                       0.298024
3                      0.279540                       0.662828
4                      3.076899                       0.602853
5                      0.000000                       2.399652
6                      1.312052                       1.636342
7                      2.386450                       2.792738
8                      0.000000                       0.000000
9                      1.714336                       0.071763
10                     0.588090                       0.618404
11                     1.484566                       1.302883
12                     0.916001                       0.000000
13                     1.320449                       0.086745
14                     1.326815                       1.414024
15                     1.400661                       0.000000
16                     0.539285                       0.674107
17                     1.913952                       0.000000
18                     0.859236                       0.000000
19                     1.022056                       0.371657
20                     1.585966                       1.124594
21                     2.160516                       0.016047
22                     1.965354                       0.163780
23                     1.835141                       1.287648
24                     3.035200                       1.286627
25                     0.707692                       0.408284
26                     0.674182                       0.099144
27                     0.948890                       1.102034
28                     0.821683                       0.616810
29                     0.262756                       0.000000
30                     1.894926                       0.000000
31                     2.327550                       0.290944
32                     1.233314                       0.000000
33                     0.327616                       4.002873
34                     0.000000                       0.000000
35                     3.044986                       0.000000
36                     1.270177                       0.954202

In [281]:
# Task 26: Total accidents, fatal accidents, number of people killed, and injured for each state per 1 lakh population

# Extracted relevant columns for total accidents, fatal accidents, people killed, and people injured per 1L people
accidents_fatalities_injuries = df6[['States/UTs', 
                                     'Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people', 
                                     'Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people',
                                     'Two-Wheelers - Number of Persons - Killed - 2014 per 1L people',
                                     'Two-Wheelers - Number of Persons - Injured - 2014 per 1L people']]


accidents_fatalities_injuries['Total_Accidents_per_1L'] = df6[['Two-Wheelers - Number of Road Accidents - Total - 2014 per 1L people', 
                                                               'Auto-Rickshaws - Number of Road Accidents - Total - 2014 per 1L people', 
                                                               'Cars, Jeeps,Taxis - Number of Road Accidents - Total - 2014 per 1L people', 
                                                               'Buses - Number of Road Accidents - Total - 2014 per 1L people', 
                                                               'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Total - 2014 per 1L people', 
                                                               'Other Motor Vehicles - Number of Road Accidents - Total - 2014 per 1L people',
                                                               'Other Vehicles/Objects - Number of Road Accidents - Total - 2014 per 1L people']].sum(axis=1)

accidents_fatalities_injuries['Fatal_Accidents_per_1L'] = df6[['Two-Wheelers - Number of Road Accidents - Fatal - 2014 per 1L people', 
                                                               'Auto-Rickshaws - Number of Road Accidents - Fatal - 2014 per 1L people', 
                                                               'Cars, Jeeps,Taxis - Number of Road Accidents - Fatal - 2014 per 1L people', 
                                                               'Buses - Number of Road Accidents - Fatal - 2014 per 1L people', 
                                                               'Trucks, Tempos,MAVs,Tractors - Number of Road Accidents - Fatal - 2014 per 1L people', 
                                                               'Other Motor Vehicles - Number of Road Accidents - Fatal - 2014 per 1L people',
                                                               'Other Vehicles/Objects - Number of Road Accidents - Fatal - 2014 per 1L people']].sum(axis=1)

accidents_fatalities_injuries['Total_Killed_per_1L'] = df6[['Two-Wheelers - Number of Persons - Killed - 2014 per 1L people',
                                                            'Auto-Rickshaws - Number of Persons - Killed - 2014 per 1L people',
                                                            'Cars, Jeeps,Taxis - Number of Persons - Killed - 2014 per 1L people',
                                                            'Buses - Number of Persons - Killed - 2014 per 1L people',
                                                            'Trucks, Tempos,MAVs,Tractors - Number of Persons - Killed - 2014 per 1L people',
                                                            'Other Motor Vehicles - Number of Persons - Killed - 2014 per 1L people',
                                                            'Other Vehicles/Objects - Number of Persons - Killed - 2014 per 1L people']].sum(axis=1)

accidents_fatalities_injuries['Total_Injured_per_1L'] = df6[['Two-Wheelers - Number of Persons - Injured - 2014 per 1L people',
                                                             'Auto-Rickshaws - Number of Persons - Injured - 2014 per 1L people',
                                                             'Cars, Jeeps,Taxis - Number of Persons - Injured - 2014 per 1L people',
                                                             'Buses - Number of Persons - Injured - 2014 per 1L people',
                                                             'Trucks, Tempos,MAVs,Tractors - Number of Persons - Injured - 2014 per 1L people',
                                                             'Other Motor Vehicles - Number of Persons - Injured - 2014 per 1L people',
                                                             'Other Vehicles/Objects - Number of Persons - Injured - 2014 per 1L people']].sum(axis=1)

# Display the results for each state
final_data = accidents_fatalities_injuries[['States/UTs', 'Total_Accidents_per_1L', 'Fatal_Accidents_per_1L', 'Total_Killed_per_1L', 'Total_Injured_per_1L']]
print(final_data)

                   States/UTs  Total_Accidents_per_1L  Fatal_Accidents_per_1L  \
0              Andhra Pradesh               46.631741               13.884582
1           Arunachal Pradesh               14.815061                6.648710
2                       Assam               22.893344                6.950681
3                       Bihar                9.179683                4.327592
4                Chhattisgarh               54.104102               13.975229
5                         Goa              289.946488               19.402898
6                     Gujarat               39.232496               11.686029
7                     Haryana               42.111970               16.622316
8            Himachal Pradesh               44.547375               12.105582
9             Jammu & Kashmir               46.733585                7.064657
10                  Jharkhand               15.766275                6.847917
11                  Karnataka               71.548879               15.524927
12                     Kerala              108.609034               11.444031
13             Madhya Pradesh               73.625705               10.401118
14                Maharashtra               54.840815               10.258570
15                    Manipur               26.017283                5.217463
16                  Meghalaya               18.268294                4.280578
17                    Mizoram               12.030558                8.020372
18                   Nagaland               15.415703                3.436944
19                     Odisha               22.985538                8.352746
20                     Punjab               23.036161               15.445149
21                  Rajasthan               35.927880               13.616649
22                     Sikkim               33.247240                8.680314
23                 Tamil Nadu               93.212430               19.633518
24                  Telangana               62.247945               19.581533
25                    Tripura               19.488736                4.572776
26                Uttarakhand               13.979369                7.069000
27              Uttar Pradesh               15.531573                6.927500
28                West Bengal               14.105552                6.013621
29  Andaman & Nicobar Islands               57.280842                5.255123
30                 Chandigarh               34.961391               11.748543
31       Dadra & Nagar Haveli               25.312110               15.420021
32                Daman & Diu               16.033086                6.166571
33                     Delhi                51.364250                9.703394
34                Lakshadweep                1.551037                0.000000
35                 Puducherry               89.025789               11.619027
36                     Total                40.417722               10.391666

    Total_Killed_per_1L  Total_Injured_per_1L
0             15.088536             57.108619
1              8.599962             22.258726
2              8.081889             20.826406
3              4.719525              6.378516
4             15.744642             51.504788
5             19.882828            128.827016
6             13.161880             37.215610
7             17.683398             35.280017
8             17.466417             81.228307
9              7.909865             64.132097
10             7.966501             13.204748
11            17.107700             93.020253
12            12.120555            123.019592
13            11.798673             76.190873
14            11.393171             36.000214
15             5.882777             45.346408
16             4.752453             10.482360
17             9.387481             21.326898
18             4.094006             11.624957
19             9.365273             26.413833
20            16.656251             14.875643
21            15.009824             40.049053
22             9.662991             57.650386
23            21.054228            107.731392
24            21.410714             67.078222
25             5.117154             33.343159
26             8.704884             15.179017
27             8.151148             11.178989
28             6.436514             13.166643
29             6.043392             74.359992
30            12.411767             31.740016
31            17.165684             27.930604
32             6.166571             20.144133
33             9.953573             49.338987
34             0.000000              1.551037
35            12.099815            106.013608
36            11.534907             40.754179

In [282]:
# Task 27: Number of accidents happening in DAY and NIGHT TIME for 2014 and 2016

# Summing up the accidents for day and night in 2014
df7['Total_Day_Accidents_2014'] = df7[['06-900hrs - Day - 2014', '09-1200hrs - Day - 2014', '12-1500hrs - Day - 2014', '15-1800hrs - Day - 2014']].sum(axis=1)
df7['Total_Night_Accidents_2014'] = df7[['18-2100hrs - Night - 2014', '21-2400hrs - Night - 2014', '00-300hrs - Night - 2014', '03-600hrs - Night - 2014']].sum(axis=1)

# Summing up the accidents for day and night in 2016
df7['Total_Day_Accidents_2016'] = df7[['06-900hrs - (Day) - 2016', '09-1200hrs - (Day) - 2016', '12-1500hrs - (Day) - 2016', '15-1800hrs - (Day) - 2016']].sum(axis=1)
df7['Total_Night_Accidents_2016'] = df7[['18-2100hrs - (Night) - 2016', '21-2400hrs - (Night) - 2016', '00-300hrs - (Night) - 2016', '03-600hrs - (Night) - 2016']].sum(axis=1)

# Selected relevant columns to display the day and night accidents for both years
accidents_day_night = df7[['States/Uts', 
                           'Total_Day_Accidents_2014', 
                           'Total_Night_Accidents_2014', 
                           'Total_Day_Accidents_2016', 
                           'Total_Night_Accidents_2016']]

# Display the result
print(accidents_day_night)

           States/Uts  Total_Day_Accidents_2014  Total_Night_Accidents_2014  \
0      Andhra Pradesh                     13093                       11347
1   Arunachal Pradesh                       121                          84
2               Assam                      5215                        1929
3               Bihar                      6063                        3493
4        Chhattisgarh                      8607                        5214
5                 Goa                      2591                        1638
6             Gujarat                     13897                        9815
7             Haryana                      5758                        4918
8    Himachal Pradesh                      1951                        1107
9     Jammu & Kashmir                      4065                        1796
10          Jharkhand                      3382                        1819
11          Karnataka                     24860                       18853
12             Kerala                     24638                       11644
13     Madhya Pradesh                     35740                       17732
14        Maharashtra                     34923                       26704
15            Manipur                       501                         242
16          Meghalaya                       187                         355
17            Mizoram                        71                          61
18           Nagaland                       282                          23
19             Orissa                      5545                        4103
20             Punjab                      3683                        2708
21          Rajasthan                     15201                        9427
22             Sikkim                       145                          58
23         Tamil Nadu                     39423                       27827
24          Telangana                     10180                        9898
25            Tripura                       483                         233
26        Uttarakhand                       914                         496
27      Uttar Pradesh                     17889                       13145
28        West Bengal                      7633                        5242
29      A & N Islands                       144                          74
30         Chandigarh                       192                         177
31       D & N Haveli                        50                          37
32        Daman & Diu                        22                          17
33              Delhi                      4306                        4317
34        Lakshadweep                         1                           0
35         Puducherry                       651                         460
36              Total                    292407                      196993

    Total_Day_Accidents_2016  Total_Night_Accidents_2016
0                      14188                       10700
1                        158                          91
2                       4793                        2642
3                       5112                        3110
4                       8523                        5057
5                       2617                        1687
6                      12859                        9000
7                       6134                        5100
8                       1867                        1301
9                       4032                        1469
10                      2805                        2127
11                     26600                       17803
12                     27238                       12182
13                     34151                       19821
14                     21701                       18177
15                       334                         204
16                       290                         330
17                        54                          29
18                        53                          22
19                      6278                        4254
20                      3983                        2969
21                     14632                        8434
22                       153                          57
23                     41464                       29967
24                     12730                       10081
25                       384                         173
26                       994                         597
27                     19994                       15618
28                     10403                        3177
29                       164                          74
30                       228                         200
31                        38                          32
32                        34                          37
33                      3566                        3809
34                         0                           1
35                       953                         813
36                    289507                      191145